Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

CHANGELOG
  CHANGELOG
Due: none

Derelicts are no longer space-worthy.
  CHANGELOG
  dat/events/derelict.lua
Due: none

Start to fill out the model C API. Mainly there.
  src/model.rs
Due: none

Rust framebuffers.
  src/model.rs
  src/texture.rs
Due: none

Set active texture when binding.
  src/model.rs
  src/texture.rs
Due: none

Pass contextes around instead of glows.
  src/buffer.rs
  src/model.rs
  src/texture.rs
Due: none

Cargo clippy
  src/buffer.rs
  src/model.rs
  src/texture.rs
Due: none

Use framebuffer targets for rendering.
  src/model.rs
  src/texture.rs
Due: none

Compute the radius of the scene.
  src/model.rs
Due: none

Store model radius.
  src/model.rs
Due: none

Some reorganization.
  src/model.rs
Due: none

Flesh out model a bit more.
  src/model.rs
  src/texture.rs
Due: none

Not sure why a check was there, but disallow negative energy regen.
  src/pilot_outfit.c
Due: clang-format

Proteron Gauss has a reputation requirement now.
  CHANGELOG
  dat/ships/proteron/proteron_gauss.xml
Due: none

Minor spellchecking.
  dat/naevpedia/lore/factions/soromid.md
Due: none

Horribly hacky fix so ships render.
  src/opengl_render.c
  src/pilot.c
  src/ship.c
Due: clang-format

Load images with sdl_image for now as it's much faster.
  src/texture.rs
Due: none

skip conversion unless necessary.
  src/texture.rs
Due: none

simplification
  src/texture.rs
Due: none

Removed geometry shader for space dust in favour of instancing.
  CHANGELOG
  dat/glsl/dust.frag
  dat/glsl/dust.geom
  dat/glsl/dust.vert
  src/background.c
  src/glad.c
  src/glad.h
  src/khrplatform.h
  src/shaders_c_gen.py
  test/glcheck/meson.build
Due: glsl_validator, clang-format

Require opengl 3.3.
  src/opengl.c
Due: clang-format

Readded context set.
  src/commodity.c
Due: clang-format

Fixed slots and such being a bit borked.
  src/damagetype.rs
  src/slots.rs
  src/utils.rs
Due: none

Made it sort in the natural order.
  src/utils.rs
Due: none

minor documentation
  src/texture.rs
Due: none

Cleared warnings.
  src/model.rs
Due: none

Another horrible hack to fix equipment rendering.
  src/equipment.c
  src/pilot.c
Due: clang-format

FramebufferBuilder should be public.
  src/texture.rs
Due: none

Move some more helpers into shader.rs.
  src/model.rs
  src/shader.rs
Due: none

Made camera zoom public.
  src/camera.rs
Due: none

Path conditions:
  glsl_validator: any of: dat/.*\.(frag|vert)$
  clang-format: any of: ^src/ and \.(c|h)$
