Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '2.17.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-xml
    - id: check-yaml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    - id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
    - id: shellcheck
- repo: local
  hooks:
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: optipng
      name: PNG Optimizer
      entry: optipng
      types: [png]
      language: system
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system

Added missing valgrind.h header. Oops.
  po/POTFILES.in
  src/valgrind.h
Due: clang-format

multicore -- save_updater restored
  dat/save_updater.lua
Due: none

multicore -- save_updater ok
  dat/save_updater.lua
Due: none

multicore -- deprecated 2k-sized core systems
  dat/outfits/core_system/large/milspec_thalos_9802_core_system.xml
  dat/outfits/core_system/large/unicorp_pt1750_core_system.xml
  dat/outfits/core_system/medium/milspec_orion_5501_core_system.xml
  dat/outfits/core_system/medium/milspec_thalos_5402_core_system.xml
  dat/outfits/core_system/medium/unicorp_pt310_core_system.xml
  dat/outfits/core_system/small/milspec_orion_3701_core_system.xml
  dat/outfits/core_system/small/milspec_thalos_3602_core_system.xml
  dat/outfits/core_system/small/unicorp_pt68_core_system.xml
Due: none

multicore -- equiopt/cores
  dat/scripts/equipopt/cores.lua
Due: none

multicore -- equiopt/cores bugfix
  dat/scripts/equipopt/cores.lua
Due: none

multicore -- misc
  dat/save_updater.lua
  dat/scripts/equipopt/cores.lua
Due: none

multicore -- equiopt
  dat/scripts/equipopt/cores.lua
Due: none

multicore -- bugfix
  dat/scripts/equipopt/cores.lua
Due: none

multicores -- updated equiopt/optimize
  dat/scripts/equipopt/cores.lua
  dat/scripts/equipopt/optimize.lua
Due: none

multicore -- update multicore2lua
  dat/outfits/multicores/core_system/large/milspec_orion_8601_core_system.lua
  dat/outfits/multicores/core_system/large/milspec_thalos_8502_core_system.lua
  dat/outfits/multicores/core_system/large/previous_generation_large_systems.lua
  dat/outfits/multicores/core_system/large/unicorp_pt440_core_system.lua
  dat/outfits/multicores/core_system/medium/milspec_orion_4801_core_system.lua
  dat/outfits/multicores/core_system/medium/milspec_thalos_4702_core_system.lua
  dat/outfits/multicores/core_system/medium/previous_generation_medium_systems.lua
  dat/outfits/multicores/core_system/medium/unicorp_pt200_core_system.lua
  dat/outfits/multicores/core_system/small/milspec_orion_2301_core_system.lua
  dat/outfits/multicores/core_system/small/milspec_thalos_2202_core_system.lua
  dat/outfits/multicores/core_system/small/previous_generation_small_systems.lua
  dat/outfits/multicores/core_system/small/unicorp_pt16_core_system.lua
  utils/outfits/multicore2lua.py
Due: none

multicore -- revert mixed lua/xml
  dat/outfits/multicores/core_system/large/milspec_orion_8601_core_system.lua
  dat/outfits/multicores/core_system/large/milspec_orion_8601_core_system.xml
  dat/outfits/multicores/core_system/large/milspec_thalos_8502_core_system.lua
  dat/outfits/multicores/core_system/large/milspec_thalos_8502_core_system.xml
  dat/outfits/multicores/core_system/large/previous_generation_large_systems.lua
  dat/outfits/multicores/core_system/large/previous_generation_large_systems.xml
  dat/outfits/multicores/core_system/large/unicorp_pt440_core_system.lua
  dat/outfits/multicores/core_system/large/unicorp_pt440_core_system.xml
  dat/outfits/multicores/core_system/medium/milspec_orion_4801_core_system.lua
  dat/outfits/multicores/core_system/medium/milspec_orion_4801_core_system.xml
  dat/outfits/multicores/core_system/medium/milspec_thalos_4702_core_system.lua
  dat/outfits/multicores/core_system/medium/milspec_thalos_4702_core_system.xml
  dat/outfits/multicores/core_system/medium/previous_generation_medium_systems.lua
  dat/outfits/multicores/core_system/medium/previous_generation_medium_systems.xml
  dat/outfits/multicores/core_system/medium/unicorp_pt200_core_system.lua
  dat/outfits/multicores/core_system/medium/unicorp_pt200_core_system.xml
  dat/outfits/multicores/core_system/small/milspec_orion_2301_core_system.lua
  dat/outfits/multicores/core_system/small/milspec_orion_2301_core_system.xml
  dat/outfits/multicores/core_system/small/milspec_thalos_2202_core_system.lua
  dat/outfits/multicores/core_system/small/milspec_thalos_2202_core_system.xml
  dat/outfits/multicores/core_system/small/previous_generation_small_systems.lua
  dat/outfits/multicores/core_system/small/previous_generation_small_systems.xml
  dat/outfits/multicores/core_system/small/unicorp_pt16_core_system.lua
  dat/outfits/multicores/core_system/small/unicorp_pt16_core_system.xml
  utils/outfits/multicore2lua.py
Due: none

multicore -- homebrew processing unit
  dat/outfits/multicores/unique/homebrew_processing_unit.lua
  dat/outfits/multicores/unique/homebrew_processing_unit.xml
  utils/outfits/multicore.py
Due: none

Temporarily disable threading for loading outfits until moved to rust.
  src/outfit.c
Due: clang-format

Mention hack only works on clang.
  src/ntracing.h
Due: clang-format

Remove custom implementations of some toolkit drawing functions and just wrap around existing opengl ones that work fine. Also remove unused "gradient" colour capability.
  src/equipment.c
  src/info.c
  src/land_shipyard.c
  src/tk/toolkit_priv.h
  src/tk/widget/button.c
  src/tk/widget/checkbox.c
  src/tk/widget/cust.c
  src/tk/widget/fader.c
  src/tk/widget/image.c
  src/tk/widget/imagearray.c
  src/tk/widget/input.c
  src/tk/widget/list.c
  src/tk/widget/rect.c
  src/tk/widget/tabwin.c
  src/toolkit.c
Due: clang-format

Add an SDF-based gl_renderRectEmptyThick to replace the toolkit function.
  dat/glsl/outline.frag
  src/opengl_render.c
  src/opengl_render.h
  src/shaders_c_gen.py
  src/toolkit.c
Due: glsl_validator, clang-format

multicore -- update equiopt/templates
  dat/scripts/equipopt/templates/empire.lua
  dat/scripts/equipopt/templates/zalek.lua
Due: none

More trying to simplify shader voodoo.
  dat/glsl/points.vert
  dat/glsl/smooth.frag
  src/land_shipyard.c
  src/opengl_render.c
  src/opengl_render.h
  src/shaders_c_gen.py
  src/tk/toolkit_priv.h
  src/toolkit.c
Due: glsl_validator, clang-format

Change how the square VBO is defined so the triangles on the shipyard look like before.
  src/opengl_render.c
Due: clang-format

Remove some now unnecessary VBOs from the toolkit.
  src/toolkit.c
Due: clang-format

multicore -- removed PT-68 references from dat
  dat/missions/neutral/kidnapped/traffic_01.lua
Due: none

multicore -- remove deprecated core systems
  dat/outfits/core_system/dummy_systems.xml
  dat/outfits/core_system/large/milspec_orion_8601_core_system.xml
  dat/outfits/core_system/large/milspec_orion_9901_core_system.xml
  dat/outfits/core_system/large/milspec_thalos_8502_core_system.xml
  dat/outfits/core_system/large/milspec_thalos_9802_core_system.xml
  dat/outfits/core_system/large/previous_generation_large_systems.xml
  dat/outfits/core_system/large/unicorp_pt1750_core_system.xml
  dat/outfits/core_system/large/unicorp_pt440_core_system.xml
  dat/outfits/core_system/medium/milspec_orion_4801_core_system.xml
  dat/outfits/core_system/medium/milspec_orion_5501_core_system.xml
  dat/outfits/core_system/medium/milspec_thalos_4702_core_system.xml
  dat/outfits/core_system/medium/milspec_thalos_5402_core_system.xml
  dat/outfits/core_system/medium/previous_generation_medium_systems.xml
  dat/outfits/core_system/medium/unicorp_pt200_core_system.xml
  dat/outfits/core_system/medium/unicorp_pt310_core_system.xml
  dat/outfits/core_system/small/milspec_orion_2301_core_system.xml
  dat/outfits/core_system/small/milspec_orion_3701_core_system.xml
  dat/outfits/core_system/small/milspec_thalos_2202_core_system.xml
  dat/outfits/core_system/small/milspec_thalos_3602_core_system.xml
  dat/outfits/core_system/small/previous_generation_small_systems.xml
  dat/outfits/core_system/small/unicorp_pt16_core_system.xml
  dat/outfits/core_system/small/unicorp_pt68_core_system.xml
Due: none

multicore -- update meson.build
  dat/naevpedia/outfits/meson.build
Due: none

damnit
  dat/naevpedia/outfits/meson.build
Due: none

Update pcre2 wrap.
  subprojects/pcre2.wrap
Due: none

Don't clang-format unidata.h.
  src/unidata.h
Due: clang-format

Autonav will try to follow fleets when jumping / landing.
  dat/autonav.lua
Due: none

Fixed invalid memory read with faction hits.
  src/faction.c
Due: clang-format

Fixed trivial memory leaks.
  src/intro.c
  src/space.c
Due: clang-format

multicore -- description
  dat/outfits/multicores/core_system/large/milspec_orion_8601_core_system.lua
  dat/outfits/multicores/core_system/large/milspec_thalos_8502_core_system.lua
  dat/outfits/multicores/core_system/large/previous_generation_large_systems.lua
  dat/outfits/multicores/core_system/large/unicorp_pt440_core_system.lua
  dat/outfits/multicores/core_system/medium/milspec_orion_4801_core_system.lua
  dat/outfits/multicores/core_system/medium/milspec_thalos_4702_core_system.lua
  dat/outfits/multicores/core_system/medium/previous_generation_medium_systems.lua
  dat/outfits/multicores/core_system/medium/unicorp_pt200_core_system.lua
  dat/outfits/multicores/core_system/small/milspec_orion_2301_core_system.lua
  dat/outfits/multicores/core_system/small/milspec_thalos_2202_core_system.lua
  dat/outfits/multicores/core_system/small/previous_generation_small_systems.lua
  dat/outfits/multicores/core_system/small/unicorp_pt16_core_system.lua
  utils/outfits/multicore2lua.py
Due: none

Bump libbacktrace in hopes it'll fix windows stuff, but more likely it won't :(
  subprojects/libbacktrace.wrap
Due: none

multicore -- improved utils/outfits/
  utils/outfits/deprecate_outfit.py
  utils/outfits/multicore2lua.py
  utils/outfits/outfit2multicore.py
  utils/outfits/process_matchings.py
Due: none

multicore -- desc.
  dat/outfits/multicores/core_system/large/milspec_orion_8601_core_system.lua
  dat/outfits/multicores/core_system/large/milspec_thalos_8502_core_system.lua
  dat/outfits/multicores/core_system/large/previous_generation_large_systems.lua
  dat/outfits/multicores/core_system/large/unicorp_pt440_core_system.lua
  dat/outfits/multicores/core_system/medium/milspec_orion_4801_core_system.lua
  dat/outfits/multicores/core_system/medium/milspec_thalos_4702_core_system.lua
  dat/outfits/multicores/core_system/medium/previous_generation_medium_systems.lua
  dat/outfits/multicores/core_system/medium/unicorp_pt200_core_system.lua
  dat/outfits/multicores/core_system/small/milspec_orion_2301_core_system.lua
  dat/outfits/multicores/core_system/small/milspec_thalos_2202_core_system.lua
  dat/outfits/multicores/core_system/small/previous_generation_small_systems.lua
  dat/outfits/multicores/core_system/small/unicorp_pt16_core_system.lua
  utils/outfits/multicore2lua.py
Due: none

More robust jump check to fix crash when creating new systems.
  CHANGELOG
  src/space.c
Due: clang-format

luacheck
  dat/outfits/multicores/core_system/large/milspec_orion_8601_core_system.lua
  dat/outfits/multicores/core_system/large/milspec_thalos_8502_core_system.lua
  dat/outfits/multicores/core_system/large/previous_generation_large_systems.lua
  dat/outfits/multicores/core_system/large/unicorp_pt440_core_system.lua
  dat/outfits/multicores/core_system/medium/milspec_orion_4801_core_system.lua
  dat/outfits/multicores/core_system/medium/milspec_thalos_4702_core_system.lua
  dat/outfits/multicores/core_system/medium/previous_generation_medium_systems.lua
  dat/outfits/multicores/core_system/medium/unicorp_pt200_core_system.lua
  dat/outfits/multicores/core_system/small/milspec_orion_2301_core_system.lua
  dat/outfits/multicores/core_system/small/milspec_thalos_2202_core_system.lua
  dat/outfits/multicores/core_system/small/previous_generation_small_systems.lua
  dat/outfits/multicores/core_system/small/unicorp_pt16_core_system.lua
  utils/outfits/multicore2lua.py
Due: none

multicore -- updated events
  dat/events/dvaered/fwD_hitman.lua
Due: none

multicore -- update missions
  dat/missions/dvaered/championship.lua
  dat/missions/dvaered/dv_diversion.lua
  dat/missions/dvaered/frontier_war/fw00_escort.lua
  dat/missions/dvaered/frontier_war/fw01_sabotage.lua
  dat/missions/dvaered/frontier_war/fw02_escape.lua
  dat/missions/dvaered/frontier_war/fw05_triathlon.lua
Due: none

multicore -- desc
  dat/outfits/multicores/core_system/large/milspec_orion_8601_core_system.lua
  dat/outfits/multicores/core_system/large/milspec_thalos_8502_core_system.lua
  dat/outfits/multicores/core_system/large/previous_generation_large_systems.lua
  dat/outfits/multicores/core_system/large/unicorp_pt440_core_system.lua
  dat/outfits/multicores/core_system/medium/milspec_orion_4801_core_system.lua
  dat/outfits/multicores/core_system/medium/milspec_thalos_4702_core_system.lua
  dat/outfits/multicores/core_system/medium/previous_generation_medium_systems.lua
  dat/outfits/multicores/core_system/medium/unicorp_pt200_core_system.lua
  dat/outfits/multicores/core_system/small/milspec_orion_2301_core_system.lua
  dat/outfits/multicores/core_system/small/milspec_thalos_2202_core_system.lua
  dat/outfits/multicores/core_system/small/previous_generation_small_systems.lua
  dat/outfits/multicores/core_system/small/unicorp_pt16_core_system.lua
  utils/outfits/multicore2lua.py
Due: none
