Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '2.17.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-xml
    - id: check-yaml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    - id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
    - id: shellcheck
- repo: local
  hooks:
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: optipng
      name: PNG Optimizer
      entry: optipng
      types: [png]
      language: system
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system

Spellcheck and fixes.
  dat/naevpedia/lore/factions/empire.md
  dat/naevpedia/lore/factions/pirates.md
  dat/naevpedia/lore/factions/zalek.md
Due: none

Spellcheck.
  dat/naevpedia/lore/factions/proteron.md
Due: none

Started to add the Lost.
  dat/factions/lost.xml
  dat/spob/hypergate_protera.xml
  dat/spob/protera_husk.xml
  dat/spob_virtual/lost_small.xml
  dat/ssys/alpha_centauri.xml
  dat/ssys/nirtos.xml
  dat/ssys/protera.xml
  dat/ssys/sagittarius.xml
  dat/ssys/scholzs_star.xml
  dat/ssys/tasopa.xml
  dat/ssys/urillian.xml
  dat/ssys/veses.xml
  dat/tech/lost.xml
  po/POTFILES.in
Due: none

Fixed setInput not respecting length.
  src/tk/widget/input.c
Due: clang-format

Increased the class string for spobs to 16 characters.
  src/dev_sysedit.c
Due: clang-format

Added more tags to hypergate protera.
  dat/spob/hypergate_protera.xml
Due: none

Differenciate the lost faction.
  dat/ai/lost.lua
  dat/factions/equip/lost.lua
  dat/factions/lost.xml
  dat/factions/spawn/lost.lua
  dat/factions/spawn/lost/default.lua
  po/POTFILES.in
Due: none

Added noderelicts tag and use it to disable "normal" derelicts.
  dat/events/derelict.lua
  dat/factions/lost.xml
  dat/ssys/alpha_centauri.xml
  dat/ssys/baitas.xml
  dat/ssys/nirtos.xml
  dat/ssys/protera.xml
  dat/ssys/sagittarius.xml
  dat/ssys/scholzs_star.xml
  dat/ssys/syndania.xml
  dat/ssys/tasopa.xml
  dat/ssys/urillian.xml
  dat/ssys/veses.xml
Due: none

Have Lost AI be a bit more uncanny.
  dat/ai/lost.lua
  dat/spob/hypergate_protera.xml
Due: none

Fixup glcheck
  test/glcheck/meson.build
Due: none

Added wild space chaos script to make things more fun.
  dat/events/wildspace/chaos.lua
  dat/ssys/alpha_centauri.xml
  dat/ssys/baitas.xml
  dat/ssys/nirtos.xml
  dat/ssys/protera.xml
  dat/ssys/sagittarius.xml
  dat/ssys/scholzs_star.xml
  dat/ssys/syndania.xml
  dat/ssys/tasopa.xml
  dat/ssys/urillian.xml
  dat/ssys/veses.xml
  po/POTFILES.in
Due: none

Can hail disabled pilots if they are hailing the player.
  src/comm.c
Due: clang-format

Start to work on wild space intro.
  dat/events/wildspace/intro.lua
  po/POTFILES.in
Due: none

Significantly increased lost presence.
  dat/spob_virtual/lost_small.xml
  dat/ssys/baitas.xml
Due: none

Spawn scheduler tracks spawned faction instead of current faction.
  src/pilot.c
  src/pilot.h
  src/space.c
Due: clang-format

wildspace: on't turn fighters or the engine complains.
  dat/events/wildspace/chaos.lua
Due: none

Simplified luadoc.
  src/nlua_pilot.c
Due: clang-format

Fixed check condition for ai.timerup.
  src/ai.c
Due: clang-format

lost: changed ai so they don't drift out of the system
  dat/ai/lost.lua
Due: none

Messed around with wild space jump locations.
  dat/ssys/alpha_centauri.xml
  dat/ssys/baitas.xml
  dat/ssys/haered.xml
  dat/ssys/jommel.xml
  dat/ssys/protera.xml
  dat/ssys/sagittarius.xml
  dat/ssys/scholzs_star.xml
  dat/ssys/syndania.xml
  dat/ssys/tasopa.xml
  dat/ssys/urillian.xml
Due: none

lost can spawn in proteron ships
  dat/events/wildspace/chaos.lua
  dat/factions/spawn/lost/default.lua
Due: none

Retweaked hypergate protera to work better as derelict station.
  dat/spob/hypergate_protera.xml
Due: none

Properly show tags in spob editor.
  src/dev_sysedit.c
Due: clang-format

Fix running from dev environment
  utils/build/naev.py
Due: none

Fixup meson invocation
  utils/build/naev.py
Due: none

naev.py: Tiny fix that allows running naev.py from another directory.
  utils/build/naev.py
Due: none

Windows: Invoke mingw-bundledlls with python directly.
  extras/windows/bundle.py
Due: none

Windows: Assemble search paths from python list.
  extras/windows/bundle.py
Due: none

Get dll search path for bundling from meson
  extras/windows/bundle.py
Due: none

Added Construct to landing background table.
  dat/spob/lua/lib/spob.lua
Due: none

Made Lua music modular.
  .luacheckrc
  dat/snd/music.lua
  dat/snd/music/default.lua
  po/POTFILES.in
Due: none

More modularization of music.
  dat/snd/music/default.lua
Due: none

Forgot to commit main music file.
  dat/snd/music.lua
Due: none

Revert "Get dll search path for bundling from meson"
  extras/windows/bundle.py
Due: none

Use WINEPATH for dll searching when cross compiling
  extras/windows/bundle.py
Due: none

Throw an error if dlls couldn't be found
  extras/windows/bundle.py
Due: none

Don't compute clearcoat unless necessary.
  dat/glsl/gltf_pbr.frag
Due: glsl_validator

Gave hypergate protera sinister music.
  dat/snd/music/default.lua
Due: none

More work on wild space intro.
  dat/events/wildspace/intro.lua
Due: none
