Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Added launcher and weapon energy usage ship stats.
  src/pilot_outfit.c
  src/pilot_weapon.c
  src/shipstats.c
  src/shipstats.h
Due: clang-format

Add missing variants to all_ships.
  dat/tech/all_ship.xml
Due: none

Added descextra to ship Lua API.
  .luacheckrc
  dat/ships/lua/lua_ship_example.lua
  src/ship.c
  src/ship.h
Due: clang-format

Seemed to have finally fixed beams timers.
  src/weapon.c
Due: clang-format

Added Za'lek Mephisto Type V.
  CHANGELOG
  dat/factions/spawn/zalek/default.lua
  dat/naevpedia/ships/meson.build
  dat/scripts/shipvariants.lua
  dat/ships/lua/zalek_mephisto_type_v.lua
  dat/ships/zalek/zalek_mephisto_type_v.xml
  dat/spob/ruadan_host.xml
  po/POTFILES.in
Due: none

ship.py: Fix encoding issue on Windows by specifying UTF-8 when writing output file
  dat/naevpedia/ships/ships.py
Due: none

Add back the missing 2d llama assets so the manual can be built again.
  docs/manual/Makefile
  docs/manual/legacy_images/llama/llama.webp
  docs/manual/legacy_images/llama/llama_comm.webp
  docs/manual/legacy_images/llama/llama_engine.webp
Due: none

Use engine_glow when computing acceleration for trails.
  src/pilot.c
Due: clang-format

More naevpedia. All the mechanics should be fleshed out now.
  dat/naevpedia/mechanics/movement.md
  dat/naevpedia/mechanics/reputation.md
  dat/naevpedia/mechanics/weaponsets.md
Due: none

Added help button in the weapon set window to open the naevpedia article.
  src/info.c
Due: clang-format

Naevpedia typo.
  dat/naevpedia/mechanics/ewarfare.md
Due: none

Added german translation to desktop file (taken from downstream debian).
  org.naev.Naev.desktop
Due: none

Fixed metainfo developer tag.
  org.naev.Naev.metainfo.xml
Due: none

Added Shark ΨIIIa.
  CHANGELOG
  dat/factions/spawn/independent/default.lua
  dat/factions/spawn/trader/default.lua
  dat/factions/spawn/traders_society/default.lua
  dat/naevpedia/ships/meson.build
  dat/scripts/shipvariants.lua
  dat/ships/neutral/shark_psiiiia.xml
  dat/tech/all_ship.xml
  po/POTFILES.in
Due: none

Gave Llama Voyager the -10 accel_mod it lost again, and gave Qucksilver another medium structural slot.
  CHANGELOG
  dat/ships/neutral/llama_voyager.xml
  dat/ships/neutral/quicksilver.xml
Due: none

thrust_mod -> accel_mod.
  dat/ships/neutral/shark_psiiiia.xml
Due: none

Get rid of warning on newer Nvidia drivers.
  dat/glsl/gltf_pbr.frag
Due: glsl_validator

Lowered quicksilver mass by 25.
  dat/ships/neutral/quicksilver.xml
Due: none

Added Shark ΨIIIa for sale.
  dat/spob/grandard.xml
  dat/spob/triton_shipyard.xml
Due: none

Added launch_speed, launch_turn, and launch_accel ship stats.
  src/outfit.c
  src/pilot_outfit.c
  src/pilot_outfit.h
  src/pilot_weapon.c
  src/shipstats.c
  src/shipstats.h
  src/weapon.c
  src/weapon.h
Due: clang-format

Changelog.
  CHANGELOG
Due: none

Added Empire Lancelot Golden Efreeti.
  CHANGELOG
  dat/factions/spawn/empire/default.lua
  dat/naevpedia/ships/meson.build
  dat/scripts/shipvariants.lua
  dat/ships/empire/empire_lancelot_golden_efreeti.xml
  dat/spob/draconis_omega.xml
  dat/tech/all_ship.xml
  po/POTFILES.in
Due: none

CHANGELOG
  CHANGELOG
Due: none

naev.py: Replace subprocess.Popen() with os.execvp() for debugger launch
  utils/build/naev.py
Due: none

naev.py: Use spawnv instead as we replacing the process can cause issues.
  utils/build/naev.py
Due: none

naev.py: Whoops. Add missing argument to spawnv.
  utils/build/naev.py
Due: none

Revert "naev.py: Whoops. Add missing argument to spawnv."
  utils/build/naev.py
Due: none

Revert "naev.py: Use spawnv instead as we replacing the process can cause issues."
  utils/build/naev.py
Due: none

Revert "naev.py: Replace subprocess.Popen() with os.execvp() for debugger launch"
  utils/build/naev.py
Due: none

log.c: Fix debug paranoid behaviour when debugging on Windows.
  src/log.c
Due: clang-format

Don't raise warnings for nil senders (died before processing is the usual case).
  dat/ai/core/control/generic.lua
Due: none

Use PILOTOUTFIT_ISON_LUA when setting state in update from Lua. Fixes ionizer not turning automatically on.
  src/nlua_pilotoutfit.c
  src/pilot_outfit.c
Due: clang-format

Some notes so bugs don't get introduced again.
  dat/ai/core/control/generic.lua
  src/nlua_pilotoutfit.c
Due: clang-format

Don't crash when trying deploying/undeploying non-space-worthy ships.
  src/pilot.c
  src/player_fleet.c
Due: clang-format

Just in case, ignore naevpedia ships with nonaevpedia tags.
  dat/naevpedia/ships/ships.py
  dat/ships/sirius/astral_projection_greater.xml
  dat/ships/sirius/astral_projection_lesser.xml
  dat/ships/sirius/astral_projection_normal.xml
Due: none

naevpedia: fixed ship class link
  dat/naevpedia/ships/ships.py
Due: none

naevpedia: added stub for flow
  dat/naevpedia/mechanics.md
  dat/naevpedia/mechanics/flow.md
Due: none

Added soromid.playerHasBioship()
  dat/scripts/common/soromid.lua
Due: none

naevpedia: Added bioship stub.
  dat/naevpedia/mechanics.md
  dat/naevpedia/mechanics/bioships.md
  dat/scripts/common/soromid.lua
Due: none

Path conditions:
  glsl_validator: any of: dat/.*\.(frag|vert)$
  clang-format: any of: ^src/ and \.(c|h)$
