Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '2.17.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-xml
    - id: check-yaml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    - id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
    - id: shellcheck
- repo: local
  hooks:
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: optipng
      name: PNG Optimizer
      entry: optipng
      types: [png]
      language: system
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system

Rename variables and fix standing updated script.
  dat/events/standing.lua
  dat/scripts/factions/dvaered.lua
  dat/scripts/factions/empire.lua
  dat/scripts/factions/frontier.lua
  dat/scripts/factions/goddard.lua
  dat/scripts/factions/pirate.lua
  dat/scripts/factions/proteron.lua
  dat/scripts/factions/sirius.lua
  dat/scripts/factions/soromid.lua
  dat/scripts/factions/zalek.lua
Due: none

Fixed pirate factions erroring out on faction hits.
  dat/factions/standing/lib/pirate.lua
Due: none

Ignore trivial faction changes.
  dat/factions/standing/lib/base.lua
Due: none

Changed hook.standing API.
  dat/events/standing.lua
  dat/scripts/common/rehab.lua
  src/faction.c
  src/hook.h
  src/nlua_hook.c
Due: clang-format

Colour standing in faction hit messages.
  dat/events/standing.lua
Due: none

Avoid error with outdated messages to escorts.
  dat/ai/core/control/generic.lua
Due: none

Give a minimum to the spob bribe cost.
  dat/spob/lua/lib/spob.lua
Due: none

Show how many of the commodity is owned in commodity window.
  src/land_trade.c
Due: clang-format

Enforce minimum cost for bribing spobs.
  dat/spob/lua/lib/spob.lua
Due: none

Display true faction hit values when boarding / capturing ships.
  dat/board.lua
Due: none

CHANGELOG
  CHANGELOG
Due: none

Readd the special weapon groups for non-players. Fixes ships not shooting turrets when running away.
  src/pilot_weapon.c
Due: clang-format

Have faction_setReputation send the right event and disable events for the deprecated faction reputation API.
  src/faction.c
Due: clang-format

Show secondary faction hits, hide those by pirates or marauders.
  dat/events/standing.lua
Due: none

Added setting to disable standing messages. Don't show standing changes for factions that aren't known.
  dat/events/settings.lua
  dat/events/standing.lua
Due: none

No secondary hits for proteron, for now.
  dat/scripts/factions/proteron.lua
Due: none

Added option to hide secondary faction hits.
  dat/events/settings.lua
  dat/events/standing.lua
Due: none

Ignore invisible or static factions when showing standing.
  dat/events/standing.lua
Due: none

Automatically make factions ignore enemies they don't share systems with when it comes to global faction standing hits.
  dat/factions/standing/lib/base.lua
  src/naev.c
Due: clang-format

Sort faction changes when displaying them.
  dat/events/standing.lua
Due: none

Remove hide secondary faction hit option.
  dat/events/settings.lua
  dat/events/standing.lua
Due: none

Translated using Weblate (Indonesian)
  po/id.po
Due: none

Removed unneeded stuff from slim GUI.
  dat/gui/slim.lua
Due: none

Reduced space dust size by half.
  src/background.c
Due: clang-format

Use shader to represent target lock-on, making it more clear when it is locked on.
  CHANGELOG
  dat/gui/slim.lua
  dat/gui/slim/track.frag
  src/nlua_colour.c
  utils/glsl/sdf/frag.glsl
  utils/glsl/sdf/main.lua
Due: glsl_validator, clang-format

Don't have spobs become hostile when non-natural pilots distress.
  dat/spob/lua/lib/spob.lua
Due: none

zbh10: enemy ships get at most a single fighter bay
  dat/missions/zalek/blackhole/zbh10.lua
Due: none

Preliminary drone nerf
  dat/outfits/launchers/electron_burst_cannon.xml
  dat/ships/zalek/zalek_drone_heavy.xml
Due: none

Update electron_burst_cannon.xml
  dat/outfits/launchers/electron_burst_cannon.xml
Due: none

Added animated shaders for scanning ships. Closes #2636.
  CHANGELOG
  dat/gui/slim.lua
  dat/gui/slim/scan.frag
  dat/gui/slim/scandone.frag
  src/nlua_pilot.c
  utils/glsl/sdf/frag.glsl
Due: glsl_validator, clang-format

Made the scan colours less jarring with the current GUI colour scheme.
  dat/gui/slim.lua
Due: none

in_arc is not being used in pilot.weapset atm...
  dat/gui/slim.lua
  dat/missions/onion/onion03.lua
  src/nlua_pilot.c
  src/pilot.h
Due: clang-format

Removed noidle AI and have the ESS Trinity use the baddie AI.
  CHANGELOG
  dat/ai/noidle.lua
  dat/missions/empire/collective/ec05.lua
  po/POTFILES.in
Due: none

Use local reputation and round standing for outfits that need faction too.
  dat/outfits/fighter_bays/empire_lancelot_bay.xml
  dat/outfits/fighter_bays/sirius_fidelity_bay.xml
  dat/outfits/fighter_bays/sirius_shaman_bay.xml
  dat/outfits/fighter_bays/soromid_brigand_bay.xml
  dat/outfits/fighter_bays/thurion_perspicacity_bay.xml
  dat/outfits/fighter_bays/thurion_perspicacity_dock.xml
  dat/outfits/fighter_bays/zalek_bomber_drone_bay.xml
  dat/outfits/fighter_bays/zalek_bomber_drone_mini_bay.xml
  dat/outfits/fighter_bays/zalek_heavy_drone_bay.xml
  dat/outfits/fighter_bays/zalek_heavy_drone_mini_bay.xml
  dat/outfits/fighter_bays/zalek_light_drone_bay.xml
  dat/outfits/fighter_bays/zalek_light_drone_mini_bay.xml
  dat/outfits/launchers/electron_burst_cannon.xml
  dat/outfits/launchers/zalek_hunter_launcher.xml
  dat/outfits/launchers/zalek_reaper_launcher.xml
  dat/outfits/utility/combatai/hive_combat_ai.xml
Due: none

Disabled pilots can't doulbe tap to use outfits.
  src/pilot_outfit.c
Due: clang-format

Suppress the oscillation of the missile trail.
  src/weapon.c
Due: clang-format

Define sirius desc_extra in Lua (to be easier to change). Gave Sirius Shaman bonus limits and moved descextra to Lua.
  dat/ships/lua/sirius_fidelity.lua
  dat/ships/lua/sirius_shaman.lua
  dat/ships/sirius/sirius_fidelity.xml
  dat/ships/sirius/sirius_shaman.xml
Due: none

Fixed faction standing being propagated from the wrong system and breaking everything.
  dat/factions/standing/lib/base.lua
  dat/factions/standing/lib/pirate.lua
  src/faction.c
Due: clang-format
