Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Weapons should properly do explosions when exploding. Slightly more accurate exploding weapons.
  src/weapon.c
Due: clang-format

Fixed collision with lines and circles when line is in the circle.
  src/collision.c
Due: clang-format

Fixed swivel and dispersion not being applied properly to launchers.
  src/weapon.c
Due: clang-format

Tuned point defense a bit to be less bad.
  dat/outfits/pointdefense/guardian_interception_system.xml
  dat/outfits/pointdefense/spittle_tubuloid_cluster.xml
Due: none

Can use col_size with non-shader gfx now.
  src/outfit.c
  src/outfit.h
  src/weapon.c
Due: clang-format

Explode missiles when intercepted.
  src/weapon.c
Due: clang-format

CHANGELOG.
  CHANGELOG
Due: none

Added Ratchet Point Defense.
  dat/naevpedia/outfits/meson.build
  dat/outfits/pointdefense/ratchet_point_defense.xml
  dat/tech/all_outfits.xml
  po/POTFILES.in
Due: none

Added tags to point defense weapons.
  dat/outfits/pointdefense/guardian_interception_system.xml
  dat/outfits/pointdefense/guardian_overseer_system.xml
  dat/outfits/pointdefense/ratchet_point_defense.xml
  dat/outfits/pointdefense/spittle_tubuloid_cluster.xml
Due: none

Add firework effect and use it for ratchet point defense.
  dat/glsl/spfx/firework.frag
  dat/outfits/pointdefense/ratchet_point_defense.xml
  dat/spfx/firework30.xml
  po/POTFILES.in
Due: glsl_validator

Use one of the new PD graphics for the ratchet PD.
  dat/outfits/pointdefense/ratchet_point_defense.xml
Due: none

Added Dvaered Flare Battery.
  dat/naevpedia/outfits/meson.build
  dat/outfits/pointdefense/dvaered_flare_battery.xml
  dat/outfits/pointdefense/guardian_interception_system.xml
  dat/outfits/pointdefense/guardian_overseer_system.xml
  dat/spfx/firework40.xml
  dat/tech/all_outfits.xml
  po/POTFILES.in
Due: none

Added Dvaered PD to techs.
  dat/tech/kinetic2.xml
  dat/tech/kinetic3.xml
Due: none

Added descriptions to Dvaered PD.
  dat/outfits/pointdefense/dvaered_flare_battery.xml
  dat/outfits/pointdefense/ratchet_point_defense.xml
Due: none

Thurion ships don't require licenses.
  dat/ships/thurion/thurion_apprehension.xml
  dat/ships/thurion/thurion_certitude.xml
  dat/ships/thurion/thurion_ingenuity.xml
  dat/ships/thurion/thurion_perspicacity.xml
  dat/ships/thurion/thurion_scintillation.xml
  dat/ships/thurion/thurion_taciturnity.xml
  dat/ships/thurion/thurion_virtuosity.xml
Due: none

Descriptions and tweaks for the thurion ships.
  dat/ships/thurion/thurion_apprehension.xml
  dat/ships/thurion/thurion_certitude.xml
  dat/ships/thurion/thurion_scintillation.xml
  dat/ships/thurion/thurion_virtuosity.xml
Due: none

Added PD to dvaered outfitting.
  dat/scripts/equipopt/templates/dvaered.lua
Due: none

Spelling fix reported by hellminister on discord.
  dat/missions/wildspace/intro.lua
Due: none

Updated outdated message about needing shipyard to swap ships.
  dat/events/tutorial/tut_land.lua
Due: none

seek_n_destroy: minor cleanup avoid cold trail not triggering maybe.
  dat/missions/neutral/seek_n_destroy.lua
Due: none

archives: Added launchers description and heat stub.
  dat/naevpedia/mechanics.md
  dat/naevpedia/mechanics/heat.md
  dat/naevpedia/mechanics/launchers.md
  src/outfit.c
Due: clang-format

archives: more updates and tweaks.
  dat/naevpedia/lore/fabricators.md
  dat/naevpedia/lore/history.md
Due: none

More archives updates.
  dat/naevpedia/lore/fabricators.md
  dat/naevpedia/lore/factions.md
  dat/naevpedia/lore/factions/dvaered.md
  dat/naevpedia/lore/factions/empire.md
  dat/naevpedia/lore/factions/pirates.md
  dat/naevpedia/lore/factions/proteron.md
  dat/naevpedia/lore/factions/soromid.md
  dat/naevpedia/lore/factions/thurion.md
Due: none

archives: Fixed links.
  dat/naevpedia/mechanics/bioships.md
  dat/naevpedia/mechanics/flow.md
Due: none

Don't cause pirate faction loss on normal missions if no pirates nearby.
  dat/scripts/common/pirate.lua
Due: none

Fixed typo spotted by Mister_T on discord.
  dat/missions/wildspace/intro.lua
Due: none

Filled out stub on heat.
  dat/naevpedia/mechanics/heat.md
Due: none

archives: more content added.
  dat/naevpedia/mechanics.md
  dat/naevpedia/mechanics/autonav.md
  dat/naevpedia/mechanics/ewarfare.md
Due: none

Updated changelog.
  CHANGELOG
Due: none

Updated updater for 0.12.0.
  dat/events/updater.lua
Due: none

Added Android Abroid mission.
  CHANGELOG
  dat/missions/thurion/android_abroad.lua
  po/POTFILES.in
Due: none

Added player.fleetCargoMissionFree.
  src/nlua_player.c
Due: clang-format

Redistribute fleet cargo after adding / removing from fleet.
  src/player_fleet.c
Due: clang-format

Better handling of fleet cargo in the mission framework.
  src/nlua_misn.c
  src/pilot_cargo.c
  src/pilot_cargo.h
  src/player_fleet.c
  src/player_fleet.h
Due: clang-format

android_abroad: cleaned up and made more consistent
  dat/missions/thurion/android_abroad.lua
Due: none

Path conditions:
  glsl_validator: any of: dat/.*\.(frag|vert)$
  clang-format: any of: ^src/ and \.(c|h)$
