Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '2.17.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-xml
    - id: check-yaml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    - id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
    - id: shellcheck
- repo: local
  hooks:
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: optipng
      name: PNG Optimizer
      entry: optipng
      types: [png]
      language: system
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system

Use palette for colour conversions.
  Cargo.toml.in
  src/nebula.rs
Due: none

Document dependencies a bit.
  Cargo.toml.in
Due: none

Added divisor support to buffers.
  src/buffer.rs
  src/context.rs
Due: none

More randomness.
  src/rng.rs
Due: none

Consortium -> Society
  dat/spob/eclipse_citadel.xml
  dat/spob/niflheim_enclave.xml
Due: none

New nebula_puff shaders.
  dat/glsl/nebula_puff.frag
  dat/glsl/nebula_puff.vert
  src/shaders_c_gen.py
Due: glsl_validator

Some documentation notes.
  src/buffer.rs
Due: none

Addeb buffer::bind_base.
  src/buffer.rs
Due: none

Comments and some simplification.
  src/context.rs
Due: none

Simplify texture.
  src/texture.rs
Due: none

Some simplifications and start to implement puffs.
  src/nebula.rs
Due: none

More simplifications.
  src/nebula.rs
Due: none

Fixed mysterious opengl state error.
  src/buffer.rs
Due: none

Write to puff buffer.
  src/camera.rs
  src/nebula.rs
Due: none

Clean up and avoid allocation.
  src/nebula.rs
Due: none

Move the horrible hack to C-side to be more robust.
  src/buffer.rs
  src/opengl_vbo.c
Due: clang-format

Funky, but getting there.
  dat/glsl/nebula_puff.frag
  dat/glsl/nebula_puff.vert
  src/gltf.c
  src/nebula.rs
  src/rng.rs
Due: glsl_validator, clang-format

Improved robustness to things.
  dat/glsl/nebula_puff.vert
  src/nebula.rs
Due: glsl_validator

The puff uniform should be dynamic.
  src/nebula.rs
Due: none

Consider zoom_far when rendering puffs.
  dat/glsl/nebula_puff.frag
  dat/glsl/nebula_puff.vert
  src/nebula.rs
Due: glsl_validator

Simplifications and fixed everything.
  dat/glsl/nebula_puff.frag
  dat/glsl/nebula_puff.vert
  src/context.rs
  src/nebula.rs
  src/texture.rs
Due: glsl_validator

Cargo clippy.
  src/nebula.rs
Due: none

Made nebula scale invariant.
  src/context.rs
  src/nebula.rs
Due: none

Tweaked nebula parameters a bit.
  src/nebula.rs
Due: none

Use 2D transformations for rendering, as 3D is not needed.
  dat/glsl/rust_texture.frag
  dat/glsl/rust_texture.vert
  src/context.rs
  src/texture.rs
Due: glsl_validator

Minor formatting.
  src/context.rs
Due: none

Start to move some rendering stuff to new file.
  po/POTFILES.in
  src/context.rs
  src/meson.build
  src/naev.rs
  src/render.rs
  src/texture.rs
Due: none

Queue events instead of opengl operations in drop hantdlers.
  src/buffer.rs
  src/context.rs
  src/shader.rs
  src/texture.rs
Due: none
