Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Use framebuffer for non-3D ship comm graphics.
  src/opengl_render.c
  src/ship.c
Due: clang-format

Simplified renderComm and more common code.
  src/ship.c
Due: clang-format

A bit ugly, but fixed orientation.
  src/ship.c
Due: clang-format

Reduced number of includes.
  src/map_overlay.c
Due: clang-format

Added background to shop images.
  dat/glsl/shop_bg.frag
  src/equipment.c
  src/gltf.c
  src/land_shipyard.c
  src/map_system.c
  src/nlua_ship.c
  src/player.c
  src/shaders_c_gen.py
  src/ship.c
  src/ship.h
Due: glsl_validator, clang-format

Only give faction colour background if it makes sense.
  src/ship.c
Due: clang-format

Goddard should be rarity 1.
  dat/ships/neutral/goddard.xml
Due: none

Minor corrections.
  src/tk/widget/imagearray.c
Due: clang-format

Can rotate the shipyard image.
  src/equipment.c
  src/land_shipyard.c
  src/map_system.c
  src/ship.c
Due: clang-format

CHANGELOG and TODO.
  CHANGELOG
  src/land_shipyard.c
Due: clang-format

Lower threshold for using high quality shadow maps.
  src/gltf.c
Due: clang-format

Fixed compile-time warning.
  src/gltf.c
Due: clang-format

Added ship_gfxAnimated.
  src/ship.c
  src/ship.h
Due: clang-format

Slightly toned down shipyard bg.
  dat/glsl/shop_bg.frag
Due: glsl_validator

Minor optimization.
  dat/ships/lua/lib/flow.lua
Due: none

Bit more strict type correctness.
  src/opengl_render.c
Due: clang-format

Work to support animated shipyard images.
  src/land_shipyard.c
  src/ship.c
  src/toolkit.c
Due: clang-format

Optimized and simplified some calls.
  src/ship.c
  src/ship.h
Due: clang-format

Simplify stuff and use consistent framebuffer.
  src/land_shipyard.c
  src/ship.c
Due: clang-format

Make sure to make dynamic.
  src/land_shipyard.c
Due: clang-format

Make glClearColor( 0., 0., 0., 0. ); the default.
  src/map_overlay.c
  src/naev.c
  src/nebula.c
  src/nlua_canvas.c
  src/opengl.c
  src/pilot.c
  src/render.c
  src/ship.c
  src/space.c
  src/toolkit.c
Due: clang-format

Some more reorganization and simplification.
  src/land_shipyard.c
Due: clang-format

Change a bit how ships are sorted.
  src/ship.c
Due: clang-format

Changed ship sorting to consider rarity first.
  src/ship.c
Due: clang-format

Fixed animated ships not clearing properly in shipyard.
  src/land_shipyard.c
Due: clang-format

Renamed ship_renderCommGFX to ship_gfxComm for consistency.
  src/nlua_pilot.c
  src/nlua_ship.c
  src/ship.c
  src/ship.h
Due: clang-format

Translated using Weblate (Indonesian)
  po/id.po
Due: none

Removed stray line.
  dat/ships/neutral/mule.xml
Due: none

Tweaked divinity 3D size.
  dat/ships/sirius/sirius_divinity.xml
  src/ship.c
Due: clang-format

Potentially fix melendez trails.
  dat/glsl/trail/melendez.frag
Due: glsl_validator

Fixed lldb in naev.py as reported by RisingLeaf (closes #2577).
  utils/build/naev.py
Due: none

Path conditions:
  glsl_validator: any of: dat/.*\.(frag|vert)$
  clang-format: any of: ^src/ and \.(c|h)$
