Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

onion03: fixed conditional
  dat/missions/onion/onion03.lua
Due: none

Fixed options default settings trying to change fader in wrong tab.
  src/options.c
Due: clang-format

Warn if console Lua fails to initialize Lua.
  src/console.c
Due: clang-format

debritish the teminals
  dat/scripts/term.lua
Due: none

* Restored tabs to bottom
  src/tk/widget/tabwin.c
Due: clang-format

* Changed first tab to 'spob_name Terminal'
  src/land.c
Due: clang-format

* Fix smoothstep parameter type
  dat/glsl/rounded_rect.frag
Due: glsl_validator

* Allow to place either tabs on top or bottom of a window using tabpos.
  src/equipment.c
  src/info.c
  src/land.c
  src/land_outfits.c
  src/options.c
  src/tk/toolkit_priv.h
  src/tk/widget/tabwin.c
  src/toolkit.c
Due: clang-format

* Change rounded gui option description
  src/conf.c
Due: clang-format

Bobbens made a typo
  dat/missions/onion/onion03.lua
Due: none

Translated using Weblate (Indonesian)
  po/id.po
Due: none

Add basic support for lldb into naev.sh
  utils/build/naev.sh
Due: none

Fix: code editor messed up the spaces.
  utils/build/naev.sh
Due: none

suboptimal fix for warnings when messing with non-deployed ships with Lua outfits that use the pilot.
  src/equipment.c
Due: clang-format

onion03: wip
  dat/missions/onion/onion03.lua
  dat/scripts/common/onion.lua
  dat/scripts/proximity.lua
Due: none

onion03: more wip
  dat/missions/onion/onion03.lua
Due: none

Fixed FLF-Pirate map not providing jump information.
  CHANGELOG
  dat/outfits/maps/map_flf_pirate_route.xml
Due: none

onion03: minor WIP
  dat/missions/onion/onion03.lua
  dat/scripts/common/onion.lua
Due: none

onion03: almost there, untested, but just need last cutscene.
  dat/missions/onion/onion03.lua
Due: none

More clang silencing.
  src/toolkit.h
Due: clang-format

Fixed some clang complaints.
  src/land.c
  src/land.h
Due: clang-format

Add option to sort missions by reward.
  src/land.c
  src/land.h
  src/land_outfits.c
Due: clang-format

Set mission reward_value field to 0 with misn.setReward.
  src/nlua_misn.c
Due: clang-format

Can sort missions based on reward.
  src/land.c
Due: clang-format

Allow hiding illegal missions.
  src/land.c
  src/land.h
  src/mission.h
  src/nlua_misn.c
Due: clang-format

Allow dest_pos to be nil when considering distance.
  dat/scripts/lmisn.lua
Due: none

Minor spellcheck.
  dat/missions/neutral/commodity_run.lua
Due: none

Can sort mission computer by distance too now.
  dat/missions/neutral/bounty.lua
  dat/missions/neutral/new_europe_refugees.lua
  dat/missions/neutral/patrol.lua
  dat/missions/pirate/contraband.lua
  dat/missions/pirate/pir_hit.lua
  dat/scripts/common/cargo.lua
  src/land.c
  src/land.h
Due: clang-format

Added misn.setDistance and misn.setIllegal
  src/mission.h
  src/nlua_misn.c
Due: clang-format

CHANGELOG
  CHANGELOG
Due: none

Fixed some stray underscores in the manual.
  docs/manual/sec/misn-tips.md
  docs/manual/sec/plugins-tips.md
Due: none

Fixed compilation completely for devmanual.
  docs/manual/naev_dev_manual.tex
Due: none

Upgly proof of concept for a lore website.
  docs/lore/.bundle/config
  docs/lore/Gemfile
  docs/lore/Makefile
  docs/lore/Rules
  docs/lore/content/index.md
  docs/lore/content/spob.md
  docs/lore/layouts/default.html
  docs/lore/lib/default.rb
  docs/lore/lib/filters/thumbnail.rb
  docs/lore/nanoc.yaml
Due: none

Try to be a bit fancier.
  docs/lore/content/spob.md
Due: none

Path conditions:
  glsl_validator: any of: dat/.*\.(frag|vert)$
  clang-format: any of: ^src/ and \.(c|h)$
