Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Revert the failed and messy "Experimentally disable dynamic linking for libcmark on Windows (to see if it helps b_lto=False builds.)"
  meson.build
Due: none

If we switched from libcmark_gfm to libcmark we must use matching defines in cmark_export.h.meson.
  subprojects/packagefiles/cmark/cmark_export.h.meson
Due: none

Ported start.c to start.rs.
  po/POTFILES.in
  src/meson.build
  src/naev.c
  src/naev.rs
  src/ntime.rs
  src/nxml.rs
  src/slots.rs
  src/start.c
  src/start.h
  src/start.rs
Due: clang-format

Removed unnecessary initialization.
  src/opengl.c
Due: clang-format

clippy
  src/nlua.rs
  src/physfs.rs
  src/rng.rs
  src/slots.rs
Due: none

Start to move to glow.
  Cargo.toml.in
  src/conf.h
  src/naev.rs
  src/options.c
  src/start.rs
Due: clang-format

Use anyhow for a bit more robust error handling.
  Cargo.toml.in
  src/nxml.rs
  src/slots.rs
Due: none

Less unwrap.
  src/start.rs
Due: none

Less unwrap and more robustness.
  src/nlua.rs
  src/ntime.rs
  src/nxml.rs
  src/physfs.rs
Due: none

Less unwraps.
  src/env.rs
  src/log.rs
  src/start.rs
Due: none

Start to work with separate opengl module.
  po/POTFILES.in
  src/meson.build
  src/naev.rs
  src/ngl.rs
Due: none

Use glow to create the window.
  src/naev.rs
  src/ngl.rs
  src/opengl.c
Due: clang-format

Do window name Rust-side.
  src/naev.c
  src/naev.rs
  src/ngl.rs
  src/opengl.c
  src/opengl.h
  src/start.rs
Due: clang-format

Simplify gettext so it plays a bit better.
  src/nlua.rs
Due: none

Some clippy work and use str instead of String for gettext.
  src/gettext.rs
  src/log.rs
  src/naev.rs
  src/ngl.rs
  src/nlua.rs
  src/rng.rs
Due: none

Use &str for all rust gettext functions.
  src/gettext.rs
  src/nlua.rs
Due: none

Removed cruft code.
  src/gettext.rs
Due: none

Set forward compatible context.
  src/ngl.rs
Due: none

Clear effects and turn off outfits when selecting ship in equipment.
  src/equipment.c
Due: clang-format

More aggressive resetting of stats when pilots die or player swaps ship.
  src/equipment.c
  src/pilot.c
Due: clang-format

CHANGELOG
  CHANGELOG
Due: none

Improved positioning of proteron blockade.
  CHANGELOG
  dat/events/proteron/blockade.lua
Due: none

Some more opengl clean up.
  src/naev.rs
  src/opengl.c
  src/opengl.h
  src/start.rs
Due: clang-format

Spellcheck reported by HyperScoop on discord.
  dat/ships/thurion/thurion_apprehension.xml
Due: none

Finish implemented player.missions.
  CHANGELOG
  src/nlua_player.c
Due: clang-format

Disabled Nasin campaign.
  CHANGELOG
  dat/missions/sirius/heretic/heretic0.lua
Due: none

Simplify API and use rayon for threaded loading.
  Cargo.toml.in
  src/ndata.rs
  src/nlua.rs
  src/physfs.rs
  src/slots.rs
  src/start.rs
Due: none

Use filter_map instead of map + flatten.
  src/slots.rs
Due: none

Texture leaks are no longer going to be a thing with rust.
  src/opengl_tex.c
Due: clang-format

Removed geometry shader for space dust in favour of instancing.
  CHANGELOG
  dat/glsl/dust.frag
  dat/glsl/dust.geom
  dat/glsl/dust.vert
  src/background.c
  src/glad.c
  src/glad.h
  src/khrplatform.h
  src/ngl.rs
  src/shaders_c_gen.py
  test/glcheck/meson.build
Due: glsl_validator, clang-format

Added ability to get permanetly disabled state of pilots.
  src/nlua_pilot.c
Due: clang-format

Bumped req to OpenGL 3.3.
  Readme.md
Due: none

Removed left in debug print.
  dat/scripts/common/bounty.lua
Due: none

Clear streaking space dust when landing or forcing the player to jump.
  CHANGELOG
  src/camera.c
  src/camera.h
  src/land.c
  src/nlua_player.c
Due: clang-format

Prioritize pilots and other objects over uninhabited planets when clicking.
  CHANGELOG
  src/gui.c
  src/input.c
  src/input.h
Due: clang-format

Path conditions:
  glsl_validator: any of: dat/.*\.(frag|vert)$
  clang-format: any of: ^src/ and \.(c|h)$
