Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Some clean up.
  src/context.rs
Due: none

Just outright ignore OpenGL notifications for now.
  src/context.rs
Due: none

Fixed effect rendering.
  dat/glsl/effect.vert
  dat/glsl/effects/psychic_orb_off.frag
  dat/glsl/effects/psychic_orb_on.frag
  src/pilot.c
Due: glsl_validator, clang-format

Generate mipmaps when necessary.
  src/texture.rs
Due: none

Fixed onionized shader partly.
  dat/glsl/effect15x.vert
  dat/glsl/effect2x.vert
  dat/glsl/effects/onionized.frag
Due: glsl_validator

Some more mipmaps correctness.
  src/texture.rs
Due: none

Use samplers for pilot effect shader images.
  src/pilot.c
Due: clang-format

Added mipmap linear filtering mode.
  src/texture.rs
Due: none

waypoints - achack02 + achack02 bugfix & tweaks
  dat/missions/sirius/achack/achack02.lua
  dat/ssys/druss.xml
  dat/ssys/humdrum.xml
Due: none

waypoints missions/sirius done
  dat/missions/sirius/achack/achack04.lua
  dat/ssys/suna.xml
Due: none

More OpenGL grouping.
  src/gui.c
Due: clang-format

More render grouping.
  src/asteroid.c
Due: clang-format

outfits2md
  utils/outfits2md.py
Due: none

bugfix
  utils/outfits2md.py
Due: none

outfits2md - added it/bo for min/max val
  utils/outfits2md.py
Due: none

(almost) dummy commit
  utils/outfits2md.py
Due: none

outfit2md - column alignment
  utils/outfits2md.py
Due: none

balancer - typo
  utils/balancer/balancer.py
Due: none

outfits2md - fixed text alignment of first column
  utils/outfits2md.py
Due: none

Minor positioning.
  src/buffer.rs
Due: none

More correctness and trying to fix things.
  src/buffer.rs
  src/context.rs
  src/nebula.rs
  src/texture.rs
Due: none

Generate and manage the C VAO rust-side.
  src/buffer.rs
  src/context.rs
  src/gltf.c
  src/nebula.rs
  src/opengl.c
  src/opengl_vbo.c
Due: clang-format

Cleaned up header.
  src/opengl.h
Due: clang-format

Finally rust textures seem to be on parity with C.
  src/texture.rs
Due: none

Cleaned up some VAO cruft.
  src/buffer.rs
  src/context.rs
  src/nebula.rs
  src/texture.rs
Due: none

Don't try to render transparent debris.
  src/asteroid.c
Due: clang-format

Cargo clippy.
  src/context.rs
Due: none

Moved gl_renderRect to rust.
  src/context.rs
  src/opengl_render.c
  src/texture.rs
Due: clang-format

More correct rotating texture.
  src/texture.rs
Due: none

outfits2md - bugfix
  utils/outfits2md.py
Due: none

outfits2md - better conformity with github md specs & misc improvements
  utils/outfits2md.py
Due: none

waypoints - ant06/07
  dat/missions/neutral/antlejos/ant06.lua
  dat/missions/neutral/antlejos/ant07.lua
  dat/ssys/antlejos.xml
  dat/ssys/knave.xml
  dat/ssys/salvador.xml
Due: none

waypoints - missions/neutral/antlejos
  dat/missions/neutral/antlejos/ant08.lua
  dat/missions/neutral/antlejos/ant09.lua
  dat/ssys/antlejos.xml
  dat/ssys/delta_polaris.xml
  dat/ssys/klintus.xml
  dat/ssys/yarn.xml
Due: none

waypoints - gauntlet + bugfix
  dat/missions/dvaered/gauntlet/gauntlet.lua
  dat/missions/neutral/antlejos/ant07.lua
  dat/ssys/crimson_gauntlet.xml
Due: none

outfits2md - lower_is_better list
  utils/outfits2md.py
Due: none

outfits2md - multi-line header for term output
  utils/outfits2md.py
Due: none

Some internals simplification.
  src/context.rs
  src/render.rs
  src/texture.rs
Due: none

Minor optimization.
  src/buffer.rs
  src/context.rs
  src/render.rs
  src/texture.rs
Due: none

Deprecate gui.viewport and remove bottom bar from slim.
  dat/gui/brushed.lua
  dat/gui/slim.lua
  dat/gui/slimv2.lua
  src/nlua_gui.c
Due: clang-format

Path conditions:
  glsl_validator: any of: dat/.*\.(frag|vert)$
  clang-format: any of: ^src/ and \.(c|h)$
