Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Fixed crash when editting spob properties.
  src/dev_sysedit.c
Due: clang-format

Added Kal vora Obelisk, not working yet.
  dat/spob/kal_vora_obelisk.xml
  dat/spob/lua/kal_vora_obelisk.lua
  dat/ssys/anrique.xml
  dat/ssys/test_of_purification.xml
  po/POTFILES.in
Due: none

Allow double tap to feather drive.
  dat/outfits/flow/abilities/feather_drive.lua
Due: none

CHANGELOG
  CHANGELOG
Due: none

More description and tweaked some obelisk conditions.
  dat/events/sirius/test_of_alacrity.lua
  dat/events/sirius/test_of_devotion.lua
  dat/events/sirius/test_of_renewal.lua
  dat/spob/lua/kal_niut_obelisk.lua
  dat/spob/lua/kal_vora_obelisk.lua
Due: none

Started to work on test of purification.
  dat/events/sirius/test_of_alacrity.lua
  dat/events/sirius/test_of_purification.lua
  dat/spob/lua/kal_vora_obelisk.lua
  po/POTFILES.in
Due: none

Add new pilots to the quadtree right away.
  src/pilot.c
Due: clang-format

Test of Purification works. Maybe too easy?
  dat/events/sirius/test_of_purification.lua
Due: none

Fixed kal vora obelisk not sending to the correct place.
  dat/spob/lua/kal_vora_obelisk.lua
Due: none

Swapped locations of Kal Niut and Kal Vora obelisks.
  dat/spob/kal_niut_obelisk.xml
  dat/spob/kal_vora_obelisk.xml
  dat/ssys/anarbalis.xml
  dat/ssys/anrique.xml
  dat/ssys/test_of_purification.xml
  dat/ssys/test_of_renewal.xml
Due: none

Start to work on getting 3D ship comm renders from 3D models.
  src/gltf.c
  src/gltf.h
  src/land_shipyard.c
  src/mat3.c
  src/mat3.h
  src/nlua_ship.c
  src/ship.c
  src/ship.h
Due: clang-format

Use correct lighting for hailing ships, but increase ambient a bit.
  dat/scripts/common/comm.lua
  src/land_shipyard.c
  src/nlua_pilot.c
  src/nlua_ship.c
  src/ship.c
  src/ship.h
Due: clang-format

Start to work on support for reading trail info from 3D models.
  src/gltf.c
  src/gltf.h
  utils/model-view-c/Makefile
Due: clang-format

Reorganize trail emittors a bit to get ready for 3D.
  src/equipment.c
  src/pilot.c
  src/ship.c
  src/ship.h
Due: clang-format

Scale gltf mounts and trail emittors to object radius.
  src/gltf.c
  src/vec3.c
  src/vec3.h
Due: clang-format

Debug emitters should also be scaled when necessary.
  src/pilot.c
Due: clang-format

Don't bother loading comm gfx for 3D pilots
  src/ship.c
Due: clang-format

Fixed warning.
  src/pilot.c
Due: clang-format

Trivial optimization.
  src/pilot.c
Due: clang-format

Better gltf errors.
  src/gltf.c
Due: clang-format

Simplified double negative.
  dat/glsl/gltf.vert
Due: glsl_validator

Still a bit funky, but implemented using 3D trails from GLTF files.
  src/equipment.c
  src/pilot.c
  src/ship.c
  src/ship.h
Due: clang-format

Fixed offset with 3D trails.
  src/equipment.c
  src/pilot.c
Due: clang-format

Try to add depth rendering to trails.
  dat/glsl/trail.frag
  src/pilot.c
  src/shaders_c_gen.py
  src/ship.c
  src/spfx.c
  src/spfx.h
  src/weapon.c
Due: glsl_validator, clang-format

Added shader to try to conserve depth and texture.
  dat/glsl/gltf_pbr.frag
  dat/glsl/texture_depth.frag
  src/opengl_render.c
  src/opengl_render.h
  src/shaders_c_gen.py
  src/ship.c
Due: glsl_validator, clang-format

Fixed model-view-c compilation.
  utils/model-view-c/common.h
Due: none

Removed unnecessary header.
  src/gltf.c
Due: clang-format

Added code for loading weapon mounts in gltf ships.
  src/gltf.c
Due: clang-format

Removed unused field.
  src/ship.c
  src/ship.h
Due: clang-format

Start to work on moving mounts to 3D.
  src/pilot_outfit.c
  src/ship.c
  src/ship.h
Due: clang-format

Added vec3_copy.
  src/vec3.c
  src/vec3.h
Due: clang-format

Added support for 3D mounts.
  src/pilot_outfit.c
  src/ship.c
Due: clang-format

GLTF 3D weapon mounts are all go.
  src/pilot_outfit.c
  src/ship.c
Due: clang-format

Reduced some code duplication.
  src/pilot.c
  src/pilot.h
  src/pilot_outfit.c
Due: clang-format

Use higher quality shadow maps for large renders.
  dat/glsl/blurX.frag
  dat/glsl/blurY.frag
  src/gltf.c
  src/gltf.h
Due: glsl_validator, clang-format

Sort gltf trails based on depth.
  src/gltf.c
Due: clang-format

Hide "Found 3D graphics" spam.
  src/ship.c
Due: clang-format

Removed accidently left-in debug print.
  src/gltf.c
Due: clang-format

Path conditions:
  glsl_validator: any of: dat/.*\.(frag|vert)$
  clang-format: any of: ^src/ and \.(c|h)$
