Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '2.17.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-xml
    - id: check-yaml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    - id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
    - id: shellcheck
- repo: local
  hooks:
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: optipng
      name: PNG Optimizer
      entry: optipng
      types: [png]
      language: system
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system

* resized some windows
  src/dialogue.c
  src/menu.c
Due: clang-format

Saw a doc typo. Don't mind me.
  src/opengl_vbo.c
Due: clang-format

* switch to dynamic vbo for lua back roundSquare
  dat/scripts/love/graphics.lua
  dat/scripts/vn/core.lua
  src/nlua_gfx.c
  src/opengl_render.c
  src/opengl_render.h
Due: clang-format

* Fixed Leak * Rounded some luatk widget
  dat/scripts/luatk/core.lua
  src/opengl_render.c
Due: clang-format

More systems and description changes
  dat/spob/amianta.xml
  dat/spob/aurora.xml
  dat/spob/castellum_hystera.xml
  dat/spob/circle_dq003.xml
  dat/spob/elpa.xml
  dat/spob/mord.xml
  dat/spob/numin.xml
  dat/spob/seeker.xml
  dat/spob/skona.xml
  dat/spob/vracha.xml
  dat/ssys/abender.xml
  dat/ssys/ekta.xml
  dat/ssys/enhai.xml
  dat/ssys/erfasn.xml
  dat/ssys/fang.xml
  dat/ssys/horn.xml
  dat/ssys/hystera.xml
  dat/ssys/kartelle.xml
  dat/ssys/korifa.xml
  dat/ssys/mida.xml
  dat/ssys/telika.xml
  po/POTFILES.in
Due: none

Fixed sort function
  dat/events/onion/onion02.lua
Due: none

onion02: fixed some function names.
  dat/events/onion/onion02.lua
Due: none

onion02: fixed and works
  CHANGELOG
  dat/missions/onion/onion02.lua
Due: none

onion02: added crowd panic sound
  dat/missions/onion/onion02.lua
Due: none

Some luadoc.
  src/nlua_munition.c
Due: clang-format

Trivial constness.
  src/ship.c
Due: clang-format

Trivial header simplification
  src/opengl_tex.h
  src/shipstats.c
Due: clang-format

Try to fix small one-pixel artefacts that can appear with 3D ships.
  src/ship.c
Due: clang-format

onion02: should properly require onion01 to be finished first
  dat/events/onion/onion02.lua
Due: none

Minor correctness and clean up.
  src/equipment.c
Due: clang-format

More consistent angle clean up.
  src/nlua_pilot.c
  src/nlua_tex.c
  src/physics.c
  src/physics.h
Due: clang-format

Softer fallback for poly_view
  src/collision.c
Due: clang-format

Removed unneeded header.
  src/equipment.c
Due: clang-format

Minor fixes including autonav resetting when firing weapons.
  src/pilot_weapon.c
  src/player.c
Due: clang-format

Some doxygen.
  src/player_autonav.c
Due: clang-format

Removed redundant lock.
  src/opengl_tex.c
Due: clang-format

Added missing #include <stddef.h>
  src/gettext.h
Due: clang-format

Have warnings generate backtraces too, should help debug some issues maybe. Doesn't enable when DEBUG_PARANOID is set.
  src/log.h
Due: clang-format

Minor constness.
  src/log.c
Due: clang-format

Added internal vlogprintf and cleaned it up.
  src/log.c
Due: clang-format

Stop printing warnings after repeating too many times.
  src/log.c
  src/log.h
Due: clang-format

CHANGELOG
  CHANGELOG
Due: none

[meson compile naev-pot]
  po/naev.pot
Due: none

Fixed nebula ambient lighting colour not matching system correctly.
  src/nebula.c
Due: clang-format

* New rounded_rect SimpleShader called from gl_renderRectH * Changed some toolkit rounded rect by gl ones.
  dat/glsl/rounded_rect.frag
  dat/scripts/love/graphics.lua
  dat/scripts/luatk/core.lua
  dat/scripts/vn/core.lua
  src/nlua_gfx.c
  src/opengl_render.c
  src/opengl_render.h
  src/shaders_c_gen.py
  src/tk/widget/button.c
  src/toolkit.c
Due: glsl_validator, clang-format

* Removed useless lua side shader handle.
  dat/scripts/love/graphics.lua
Due: none

* Added thick parameter to gl_renderRectangleH
  dat/glsl/rounded_rect.frag
  dat/scripts/love/graphics.lua
  dat/scripts/luatk/core.lua
  dat/scripts/minigames/lib/cardio.lua
  dat/scripts/minigames/lib/diceio.lua
  dat/scripts/minigames/stringguess/core.lua
  dat/scripts/vn/core.lua
  src/dev_sysedit.c
  src/gui.c
  src/land_shipyard.c
  src/nlua_gfx.c
  src/opengl_render.c
  src/opengl_render.h
  src/tk/widget/button.c
  src/toolkit.c
Due: glsl_validator, clang-format

* Replaced all toolkit_drawRoundRect by gl_renderRoundedRect * Removed rounded from toolkit
  dat/scripts/luatk/core.lua
  src/tk/toolkit_priv.h
  src/tk/widget/tabwin.c
  src/toolkit.c
Due: clang-format
