Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '2.17.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-xml
    - id: check-yaml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    - id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
    - id: shellcheck
- repo: local
  hooks:
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: optipng
      name: PNG Optimizer
      entry: optipng
      types: [png]
      language: system
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system

Perspicacity shouldn't reload graphics.
  dat/ships/thurion/thurion_perspicacity_beta.xml
Due: none

Typo.
  dat/ships/neutral/gawain_xy37.xml
Due: none

Fixed 0 shield / armour values.
  src/nlua_pilot.c
Due: clang-format

Gawain XY-37 is no longer breaking the fabric of reality.
  dat/ships/lua/gawain_xy37.lua
Due: none

Remove debug line.
  dat/ships/lua/gawain_xy37.lua
Due: none

Fixed typo.
  dat/ships/lua/gawain_xy37.lua
Due: none

Check for mass 0. with laws of physics.
  src/pilot_outfit.c
Due: clang-format

Fixed waste dump missions not appearing.
  dat/missions/neutral/wastedump.lua
Due: none

Reputation can't go above +100 or below -100. Closes #2719.
  CHANGELOG
  src/faction.c
Due: clang-format

Bumped copyright year to 2025.
  meson.build
Due: none

Don't have chapter 1 event double claim.
  dat/events/chapter1.lua
Due: none

Stop chapter 1 event from erroring out at the end through re-entering.
  dat/events/chapter1.lua
Due: none

Do love.origin() on slim gui create so the shaders try to align well.
  dat/gui/slim.lua
Due: none

Don't show lost faction from the board event. Do it from the reputation event.
  dat/board.lua
Due: none

pilot:distress() sends signals to spobs too.
  src/nlua_pilot.c
Due: clang-format

Fixed potential segfault.
  src/pilot.c
Due: clang-format

Mercenary AI will sometimes white knight.
  dat/ai/mercenary.lua
Due: none

CHANGELOG
  CHANGELOG
Due: none

Only tell the player it will make them hostile if it really will.
  dat/board.lua
Due: none

Fixed captured ships having inconsistent load outs and not spawning near the pilot.
  CHANGELOG
  dat/events/capture.lua
Due: none

Minor simplification.
  dat/gui/slim.lua
Due: none

Don't have player.teleport break the game while the player is landing.
  CHANGELOG
  src/nlua_player.c
Due: clang-format

Fix overlay map not updating after obtaining map while open. Should fix #2720.
  CHANGELOG
  src/map.c
Due: clang-format

Small text correction.
  dat/events/npc/empire.lua
Due: none

Renamed logging functionality a bit.
  src/log.rs
  src/naev.rs
  src/shader.rs
Due: none

Use locations for gltf shaders.
  dat/glsl/gltf.vert
  dat/glsl/gltf_pbr.frag
Due: glsl_validator

Make nglslValidator work with version glsl330 by default.
  utils/nglslValidator.py
Due: none

Removed unused clearcoat/sheen for now.
  dat/glsl/gltf_pbr.frag
Due: glsl_validator

Encapsulate GltfObject.
  src/gltf.c
  src/gltf.h
  src/ship.c
Due: clang-format

Support for differenc opengl buffer types.
  src/buffer.rs
Due: none

More work on rust model loading.
  dat/glsl/material_pbr.frag
  dat/glsl/material_pbr.vert
  src/buffer.rs
  src/model.rs
Due: glsl_validator

More fleshing out, should be on par without shadows (untested).
  src/model.rs
  src/shader.rs
  src/texture.rs
Due: none

No need to store the slot property name as a cstring.
  src/slots.rs
Due: none

Allow sorting by reference to name without creating instances.
  po/POTFILES.in
  src/meson.build
  src/naev.rs
  src/slots.rs
  src/utils.rs
Due: none

Add todo.
  src/texture.rs
Due: none

Removed some code duplication.
  src/texture.rs
Due: none
