Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Slight shader reorganization.
  dat/glsl/gltf_pbr.frag
Due: glsl_validator

Protera husk gets own landing script.
  dat/spob/lua/protera_husk.lua
  dat/spob/protera_husk.xml
  po/POTFILES.in
  src/gltf.c
Due: clang-format

Don't compute clearcoat unless necessary.
  dat/glsl/gltf_pbr.frag
Due: glsl_validator

Can view and change all your ships in the equipment tab when there is refuelling.
  CHANGELOG
  src/equipment.c
  src/land.c
Due: clang-format

Removed some shipyards that were added to allow the player to change ships and are unnecessary now.
  dat/spob/cerberus_outpost.xml
  dat/spob/onewing_goddard.xml
  dat/unidiff/sigma13_fixed1.xml
  dat/unidiff/sigma13_fixed2.xml
Due: none

Hypergate Protera and Protera Husk no longer need shipyard tags.
  dat/spob/hypergate_protera.xml
  dat/spob/protera_husk.xml
Due: none

more wildspace
  dat/events/wildspace/intro.lua
Due: none

languagetool corrections on za'lek black hole campaign.
  dat/missions/zalek/blackhole/zbh01.lua
  dat/missions/zalek/blackhole/zbh03.lua
  dat/missions/zalek/blackhole/zbh04.lua
  dat/missions/zalek/blackhole/zbh06.lua
  dat/missions/zalek/blackhole/zbh07.lua
  dat/missions/zalek/blackhole/zbh08.lua
  dat/missions/zalek/blackhole/zbh11.lua
Due: none

toolkit_getListPos returns -1 if no options.
  src/tk/widget/list.c
Due: clang-format

Editor should no longer crash with no asteroids are defined when editing asteroid fields.
  src/dev_sysedit.c
Due: clang-format

Minor simplification.
  src/dev_sysedit.c
Due: clang-format

More warnings on diff mode changes in the editor.
  src/dev_sysedit.c
Due: clang-format

Added label to asteroid exclusions too.
  src/asteroid.c
  src/asteroid.h
  src/space.c
Due: clang-format

unidiff: remove hunks in reverse order.
  src/unidiff.c
Due: clang-format

Fixed unidiff warnings referring to parent instead of current node.
  src/unidiff.c
Due: clang-format

gui_load adds the GUI to the player.
  src/gui.c
Due: clang-format

Removed some obsolete stuff.
  dat/events/updater.lua
  src/conf.c
Due: clang-format

We'll remove deprecated loading in 0.13.0 not 0.12.0.
  src/load.c
Due: clang-format

Update Sirius ship Lua for 0.13.0.
  dat/ships/lua/sirius.lua
Due: none

Load and save UniDiff attributes.
  src/dev_diff.c
  src/nxml.h
  src/unidiff.c
  src/unidiff.h
Due: clang-format

Compacted the unidiff static arrays into one for better maintainability.
  src/unidiff.c
Due: clang-format

Mention constexpr for static_assert.
  src/unidiff.c
Due: clang-format

Simplified some asteroid code.
  src/asteroid.c
  src/asteroid.h
  src/dev_sysedit.c
  src/space.c
Due: clang-format

Fixed onion01 mission.
  dat/missions/onion/onion01.lua
Due: none

Added unidiff support for attributes and removing/adding asteroid fields.
  src/unidiff.c
  src/unidiff.h
Due: clang-format

unidiffs for asteroid fields use labels.
  src/unidiff.c
Due: clang-format

More support for asteroid unidiffs.
  src/dev_diff.c
  src/unidiff.c
  src/unidiff.h
Due: clang-format

More work towards asteroids unidiff support.
  src/dev_sysedit.c
  src/dev_uniedit.c
  src/dev_uniedit.h
  src/unidiff.c
Due: clang-format

Lots of unidiff fixes and simplifications.
  src/unidiff.c
Due: clang-format

Fixed crash with unidiffs with attributes.
  src/unidiff.c
Due: clang-format

Warn, don't crash, when asteroid field has no asteroid types defined.
  src/asteroid.c
Due: clang-format

Modified the asteroid edit window to be a bit more consistent.
  src/dev_sysedit.c
Due: clang-format

Don't crash when trying to get an asteroid from field with no asteroids.
  src/nlua_asteroid.c
Due: clang-format

Slight more flexibility with asteroid editor.
  src/dev_sysedit.c
Due: clang-format

sysedit: support for editing asteroid anchors.
  src/dev_sysedit.c
  src/unidiff.c
  src/unidiff.h
Due: clang-format

Add another warning about unimplemented diff support.
  src/dev_sysedit.c
Due: clang-format

unidiff have to match labels too to replace.
  src/dev_uniedit.c
Due: clang-format

Path conditions:
  glsl_validator: any of: dat/.*\.(frag|vert)$
  clang-format: any of: ^src/ and \.(c|h)$
