Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Better VertexArray API.
  src/buffer.rs
Due: none

Start to work on porting nebula.c
  po/POTFILES.in
  src/meson.build
  src/naev.rs
  src/nebula.rs
Due: none

Updated artwork and add new portraits.
  CHANGELOG
  dat/missions/thurion/android_abroad.lua
  dat/scripts/common/frontier_war.lua
  dat/scripts/common/thurion.lua
Due: none

Rename ngl.rs -> context.rs
  po/POTFILES.in
  src/buffer.rs
  src/context.rs
  src/meson.build
  src/model.rs
  src/naev.rs
  src/nebula.rs
  src/shader.rs
  src/slots.rs
  src/texture.rs
Due: none

Buffers use opengl context and encapsulate context a bit more.
  src/buffer.rs
  src/context.rs
  src/model.rs
  src/naev.rs
  src/nebula.rs
Due: none

More niceties here and there.
  src/buffer.rs
  src/nebula.rs
Due: none

Too many hacks to mention to try to get things working.
  dat/glsl/nebula.vert
  dat/glsl/nebula_background.frag
  dat/glsl/nebula_overlay.frag
  src/buffer.rs
  src/context.rs
  src/meson.build
  src/model.rs
  src/nebula.rs
  src/opengl.c
  src/opengl.h
  src/shader.rs
  src/shaders_c_gen.py
  src/texture.rs
Due: glsl_validator, clang-format

Changed space dust formula to be more stable across different resolutions.
  src/background.c
Due: clang-format

Fixed segfault.
  src/land_trade.c
Due: clang-format

Remove gui_xoff / gui_yoff cruft.
  src/background.c
  src/camera.c
  src/gui.c
  src/gui.h
  src/nebula.c
  src/opengl_render.c
Due: clang-format

Work with latest main.
  src/camera.rs
Due: none

Begin to work on draw API.
  src/context.rs
  src/nebula.rs
  src/texture.rs
Due: none

Can specify framebuffer address_mode and filter.
  src/texture.rs
Due: none

Progress?
  src/nebula.rs
  src/texture.rs
Due: none

Shut up clippy a bit.
  src/texture.rs
Due: none

cargo clippy
  src/buffer.rs
  src/nebula.rs
Due: none

Added center vao/vbo.
  src/context.rs
Due: none

Cheated but got nebula working :/
  src/nebula.rs
  src/texture.rs
Due: none

naev_ci.yml: Attempt to configure Rust toolchain to build source
  .github/workflows/naev_ci.yml
Due: none

meson.build: Add some version checking for bindgen and cmark
  meson.build
Due: none

meson.build: Add requirement for clang for bindgen to function correctly
  meson.build
Due: none

meson.build: Only add override-abi for compatible versions of bindgen
  meson.build
Due: none

meson.py: Bump to required version
  meson.py
Due: none

naev_ci.yml: Ensure cargo is using the right pkg-config binary
  .github/workflows/naev_ci.yml
Due: none

Small typo.
  dat/missions/onion/readme.md
Due: none

Buffed the fuel shell plating a tad.
  dat/outfits/unique/fuelshell_plating.xml
Due: none

Rename nanofiber structures -> nanofiber structural enhancement and tweak description and values a bit.
  dat/naevpedia/outfits/meson.build
  dat/outfits/structure/nanofiber_structural_enhancement.xml
  dat/outfits/structure/nanofiber_structures.xml
  po/POTFILES.in
Due: none

Flesh out fuelshell plating description and move descextra to Lua.
  dat/outfits/unique/fuelshell_plating.lua
  dat/outfits/unique/fuelshell_plating.xml
Due: none

It's absorb, not absorption.
  dat/outfits/structure/nanofiber_structural_enhancement.xml
Due: none

Clarify some things a bit.
  src/context.rs
  src/nebula.rs
  src/texture.rs
Due: none

Code simplification.
  src/nebula.rs
  src/texture.rs
Due: none

Implement nebula.render_overlay, still borky.
  dat/glsl/nebula.vert
  dat/glsl/nebula_background.frag
  dat/glsl/nebula_overlay.frag
  src/nebula.rs
Due: glsl_validator

Minor parity.
  src/camera.rs
Due: none

Slight minor correctness.
  src/texture.rs
Due: none

Fixed nebula background zooming weirdly.
  dat/glsl/nebula_background.frag
Due: glsl_validator

No actual need for transform matrix when rendering nebula.
  dat/glsl/nebula.vert
  dat/glsl/nebula_background.frag
  dat/glsl/nebula_overlay.frag
  src/nebula.rs
Due: glsl_validator

Add texture rendering.
  dat/glsl/rust_texture.frag
  dat/glsl/rust_texture.vert
  src/nebula.rs
  src/texture.rs
Due: glsl_validator

Consistency.
  src/nebula.rs
Due: none

Path conditions:
  glsl_validator: any of: dat/.*\.(frag|vert)$
  clang-format: any of: ^src/ and \.(c|h)$
