Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '2.17.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-xml
    - id: check-yaml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    - id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
    - id: shellcheck
- repo: local
  hooks:
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: optipng
      name: PNG Optimizer
      entry: optipng
      types: [png]
      language: system
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system

Quiet some warnings.
  src/array.h
  src/map.c
Due: clang-format

vimrc: force C for .h files.
  extras/vimrc
Due: none

Clean up headers a tad bit.
  src/claim.h
  src/collision.h
  src/colour.h
  src/commodity.c
  src/gatherable.h
  src/map_find.h
  src/map_overlay.h
  src/nlua.h
  src/nxml.h
  src/space.h
Due: clang-format

Added jump.reverse.
  src/nlua_jump.c
Due: clang-format

Added jump.hide.
  src/nlua_jump.c
Due: clang-format

Use jumplane shader in luatk map.
  dat/scripts/luatk/glsl/jumplane.frag
  dat/scripts/luatk/map.lua
  dat/scripts/luatk/markdown.lua
  dat/spob/lua/glsl/jumpgoto.frag
  src/nlua_colour.c
  src/nlua_jump.c
Due: glsl_validator, clang-format

Improved hyperlane shader width.
  dat/scripts/luatk/map.lua
  dat/spob/lua/lib/hypergate.lua
Due: none

naevpedia: don't hardcode widgets
  dat/naevpedia/index.md
  dat/scripts/naevpedia.lua
Due: none

Minor optimization.
  src/map.c
Due: clang-format

Draw spobs in the luatk map.
  dat/scripts/luatk/map.lua
Due: none

Allow changing luatk map scale.
  dat/scripts/luatk/map.lua
  dat/spob/lua/lib/hypergate.lua
Due: none

Translated using Weblate (Catalan)
  po/ca.po
Due: none

Some more constness.
  src/map.c
Due: clang-format

Have luatk.map display text.
  dat/scripts/luatk/map.lua
Due: none

naevpedia: fixed string unescaping cutting off last text.
  dat/scripts/naevpedia.lua
Due: none

Added availability map to ships.
  dat/naevpedia/ships/ships.py
Due: none

Show availability first.
  dat/naevpedia/ships/ships.py
Due: none

luatk.map: Handle availability.
  dat/scripts/luatk/map.lua
Due: none

luatk.markdown: fixed some spacing
  dat/scripts/luatk/markdown.lua
Due: none

naevpedia: changed ships spacing a bit
  dat/naevpedia/ships/ships.py
Due: none

luatk.markdown: fixed offset after widget
  dat/scripts/luatk/markdown.lua
Due: none

naevpedia: don't show map for ships that aren't available for purchase.
  dat/naevpedia/ships/ships.py
Due: none

naevpedia: add table to _G and better debugging.
  dat/scripts/naevpedia.lua
Due: none

luatk.map: defaults to player position
  dat/scripts/luatk/map.lua
Due: none

naevpedia: focus on nearest place that sells the ship
  dat/naevpedia/ships/ships.py
Due: none

Added some more PLAYER_CHECK for safety.
  src/nlua_player.c
Due: clang-format

luatk.map: use canvas to speed it all up.
  dat/scripts/luatk/map.lua
Due: none

Added player.autonavRoute.
  src/map.c
  src/map.h
  src/nlua_player.c
Due: clang-format

Fixed compilation warning.
  src/nlua_player.c
Due: clang-format

luatk.markdown: properly scissors widgets
  dat/scripts/luatk/markdown.lua
Due: none

Work map a bit more.
  dat/scripts/luatk/glsl/jumplanegoto.frag
  dat/scripts/luatk/map.lua
Due: glsl_validator

hypergate: disable current autonav.
  dat/spob/lua/lib/hypergate.lua
Due: none

luatk.map: more improvements
  dat/scripts/luatk/map.lua
Due: none

whitespace
  src/nlua_gfx.c
Due: clang-format

More constness.
  src/nlua_gfx.c
Due: clang-format

Reorganize stuff a bit for luatk.map and hypergate interface.
  dat/scripts/luatk/glsl/selectsys.frag
  dat/scripts/luatk/map.lua
  dat/spob/lua/glsl/jumpgoto.frag
  dat/spob/lua/lib/hypergate.lua
Due: glsl_validator

Quiet some ALE warnings.
  src/pilot.h
Due: clang-format

luatk.markdown: fixed drawover not setting colour.
  dat/scripts/luatk/markdown.lua
Due: none

Fixed markdown mouse events being off
  dat/scripts/luatk/markdown.lua
Due: none
