Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: '2.17.0'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-xml
    - id: check-yaml
    - id: check-added-large-files
    - id: check-executables-have-shebangs
    - id: check-shebang-scripts-are-executable
    - id: check-case-conflict
    - id: check-symlinks
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: mixed-line-ending
    - id: pretty-format-json
    - id: check-merge-conflict
      args: [--assume-in-merge]
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
    - id: shellcheck
- repo: local
  hooks:
    - id: nluacheck
      name: wrapper for luacheck that understands Naev hooks
      entry: utils/nluacheck.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: check_fmt_f_usage
      name: Lua f-string validation
      entry: utils/check_fmt_f_usage.py
      files: '^dat/'
      types: [lua]
      language: python
    - id: glsl_validator
      name: glsl validator
      entry: utils/nglslValidator.py
      files: dat/.*\.(frag|vert)$
      language: python
    - id: potfiles
      name: check for stale POTFILES.in
      entry: utils/update-po.sh . --pre-commit
      language: script
      always_run: true
      pass_filenames: false
    - id: optipng
      name: PNG Optimizer
      entry: optipng
      types: [png]
      language: system
    - id: clang-format
      name: Clang formatter
      entry: clang-format -i
      types: [c]
      files: '^src/'
      language: system

Fixed C documentation.
  src/mat4.c
Due: clang-format

Fixed memory leak with gltf animations.
  src/gltf.c
Due: clang-format

Translated using Weblate (Indonesian)
  po/id.po
Due: none

Tweaked the lighting a bit.
  dat/bkg/lib/starfield.lua
  dat/bkg/taiomi.lua
  src/gltf.c
  utils/model-view-c/main.c
Due: clang-format

Build system no longer libdl on platforms such as BSD.
  CHANGELOG
  meson.build
Due: none

Added #if to debug_logBacktrace in log_warn to allow non-debug builds
  src/log.c
Due: clang-format

Have debug stuff become NOOP when DEBUGGING isn't defined.
  src/debug.h
  src/log.c
  src/log.h
Due: clang-format

Mention about using dependency('dl')
  meson.build
Due: none

Naev 0.11.5.
  CHANGELOG
  meson.build
  org.naev.Naev.metainfo.xml
Due: none

Don't have gdb run .gdbinit twice.
  utils/build/naev.py
Due: none

Use --nx with gdb so that it only runs the eplicit gdbinit.
  utils/build/naev.py
Due: none

Use store lighting for equipment ships.
  src/equipment.c
  src/gltf.c
  src/gltf.h
  src/nlua_pilot.c
  src/pilot.c
  src/pilot.h
  src/ship.c
Due: clang-format

Properly reset lighting.
  src/background.c
  src/gltf.c
  src/gltf.h
Due: clang-format

Tweaked shop graphic intensities.
  src/ship.c
Due: clang-format

Start to work on adding radiosity to background scripts.
  src/background.c
  src/background.h
  src/nlua_bkg.c
Due: clang-format

Explicit store lighting.
  src/pilot.c
  src/ship.c
  src/ship.h
Due: clang-format

Tweaked lighting and removed gltf_light.
  src/gltf.c
  src/gltf.h
  src/nebula.c
Due: clang-format

Start to use proper in-system lighting.
  dat/bkg/lib/starfield.lua
  src/background.c
  src/gltf.c
  src/gltf.h
  src/render.c
Due: clang-format

Reworked lighting to change with stars.
  dat/bkg/crimson_gauntlet.lua
  dat/bkg/haze.lua
  dat/bkg/ionicstorm.lua
  dat/bkg/lib/starfield.lua
  dat/bkg/mizar.lua
  dat/bkg/obelisk.lua
  dat/bkg/pso.lua
  dat/bkg/stellarwind.lua
  dat/bkg/taiomi.lua
  dat/glsl/gltf_pbr.frag
  src/background.c
  src/gltf.c
Due: glsl_validator, clang-format

Reworked lighting to depend on stars in system.
  dat/bkg/lib/starfield.lua
Due: none

Increased MAX_LIGHTS to 5 and tweaked some values.
  dat/bkg/haze.lua
  dat/bkg/ionicstorm.lua
  dat/bkg/lib/starfield.lua
  dat/bkg/stellarwind.lua
  dat/glsl/gltf.vert
  dat/glsl/gltf_pbr.frag
  src/background.c
  src/gltf.c
  src/gltf.h
Due: glsl_validator, clang-format

Made test of devotion more enjoyable.
  dat/events/sirius/test_of_devotion.lua
  dat/events/sirius/test_of_enlightenment.lua
  dat/scripts/common/sirius.lua
  dat/ships/sirius/astral_projection_greater.xml
Due: none

xmlMemoryDump is deprecated.
  src/naev.c
Due: clang-format

Fixed model-view-c with new gltf changes.
  utils/model-view-c/main.c
Due: none

Test of devotion seems to be working with some rough edges.
  dat/events/sirius/test_of_devotion.lua
  dat/spob/lua/kal_sitra_obelisk.lua
Due: none

Sirius projections should not create debris.
  dat/ships/lua/sirius_projection.lua
Due: none

Fixed minor typo.
  dat/spob/lua/lib/obelisk.lua
Due: none

Fixed obelisks not telling you if you already completed the test.
  dat/spob/lua/kal_atok_obelisk.lua
  dat/spob/lua/kal_maro_obelisk.lua
  dat/spob/lua/kal_niut_obelisk.lua
  dat/spob/lua/kal_sitra_obelisk.lua
  dat/spob/lua/lib/obelisk.lua
Due: none

Fixed space dust bugging out when player uses jump-type abilities.
  src/camera.c
Due: clang-format

CHANGELOG
  CHANGELOG
Due: none

Made testo f devotion slightly harder.
  dat/events/sirius/test_of_devotion.lua
Due: none

Can toggle whether or not autonav stops when missie lock-ons are detected
  CHANGELOG
  dat/autonav.lua
  dat/events/settings.lua
  dat/events/sirius/test_of_devotion.lua
Due: none

[meson compile naev-pot]
  po/naev.pot
Due: none

shadowvigil: changed final destination so it doesn't try to go through Surano.
  dat/missions/shadow/shadowvigil.lua
Due: none

Translated using Weblate (Portuguese (Brazil))
  po/pt_BR.po
Due: none
