Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Simplified shader python code a bit.
  src/shaders_c_gen.py
Due: none

Seemed to fix depth propagation.
  dat/glsl/texture_depth.frag
  src/opengl_render.c
  src/opengl_tex.c
  src/pilot.c
  src/ship.c
Due: glsl_validator, clang-format

Added depth only rendering functions.
  dat/glsl/texture_depth_only.frag
  src/opengl_render.c
  src/opengl_render.h
Due: glsl_validator, clang-format

Added the depth only shader python-side.
  src/shaders_c_gen.py
  src/spfx.c
Due: clang-format

Don't draw depth of transparent objects.
  src/gltf.c
Due: clang-format

Correct depth value of trails.
  src/pilot.c
Due: clang-format

Use downscaling for comm graphics.
  src/ship.c
Due: clang-format

Properly set image buffer name for ship store images.
  src/ship.c
Due: clang-format

Use case insensitive comparisons when testing for opengl strings.
  src/opengl.c
Due: clang-format

Still not correct but close.
  src/pilot.c
  src/spfx.c
Due: clang-format

Proper trail depth testing.
  dat/glsl/trail.vert
  dat/glsl/trail/common.glsl
  src/pilot.c
  src/spfx.c
Due: glsl_validator, clang-format

Clear depth buffer after drawing trails so it doesn't affect other ships.
  src/pilot.c
Due: clang-format

Fixed non-symmetric trails and mounts.
  src/pilot.c
Due: clang-format

Updated pre-commit stuff.
  .pre-commit-config.yaml
Due: none

Implemented a more simple modular approach for factional spawn scripts.
  dat/factions/spawn/empire.lua
  dat/factions/spawn/empire/default.lua
  dat/factions/spawn/lib/common.lua
  po/POTFILES.in
Due: none

Start to work on newer and more flexible spawn system.
  dat/factions/spawn/empire/default.lua
  dat/factions/spawn/lib/common.lua
Due: none

Moved all non-pirate factions to the new system.
  dat/factions/spawn/collective.lua
  dat/factions/spawn/collective/default.lua
  dat/factions/spawn/dvaered.lua
  dat/factions/spawn/dvaered/default.lua
  dat/factions/spawn/empire/default.lua
  dat/factions/spawn/flf.lua
  dat/factions/spawn/flf/default.lua
  dat/factions/spawn/frontier.lua
  dat/factions/spawn/frontier/default.lua
  dat/factions/spawn/goddard.lua
  dat/factions/spawn/goddard/default.lua
  dat/factions/spawn/independent.lua
  dat/factions/spawn/independent/default.lua
  dat/factions/spawn/lib/common.lua
  dat/factions/spawn/proteron.lua
  dat/factions/spawn/proteron/default.lua
  dat/factions/spawn/sirius.lua
  dat/factions/spawn/sirius/default.lua
  dat/factions/spawn/soromid.lua
  dat/factions/spawn/soromid/default.lua
  dat/factions/spawn/thurion.lua
  dat/factions/spawn/thurion/default.lua
  dat/factions/spawn/trader.lua
  dat/factions/spawn/trader/default.lua
  dat/factions/spawn/traders_society.lua
  dat/factions/spawn/traders_society/default.lua
  dat/factions/spawn/zalek.lua
  dat/factions/spawn/zalek/default.lua
  po/POTFILES.in
Due: none

Start to work on pirate spawn scripts.
  dat/factions/spawn/lib/common.lua
  dat/factions/spawn/pirate.lua
  dat/factions/spawn/pirate/default.lua
  po/POTFILES.in
Due: none

Updated the pirate spawn scripts.
  dat/factions/spawn/lib/common.lua
  dat/factions/spawn/lib/pirate.lua
  dat/factions/spawn/marauder.lua
  dat/factions/spawn/marauder/default.lua
  dat/factions/spawn/pirate/default.lua
  dat/factions/spawn/pirate_black_lotus.lua
  dat/factions/spawn/pirate_dreamer_clan.lua
  dat/factions/spawn/pirate_raven_clan.lua
  dat/factions/spawn/pirate_raven_clan/default.lua
  dat/factions/spawn/pirate_wild_ones.lua
  dat/factions/spawn/pirate_wild_ones/default.lua
  po/POTFILES.in
Due: none

Fixed crash on ships using only 3D trail emitters.
  src/ship.c
Due: clang-format

When sorting, show outfits that have slot properties first.
  src/outfit.c
  src/player.c
Due: clang-format

Dealbreakers should spawn now.
  dat/events/pers/pirate.lua
  dat/factions/spawn/pirate_black_lotus/default.lua
  po/POTFILES.in
Due: none

Gave plowshare armour malus.
  dat/ships/neutral/plowshare.xml
Due: none

Added more new ship spawning.
  CHANGELOG
  dat/factions/spawn/flf/default.lua
  dat/factions/spawn/frontier/default.lua
  dat/factions/spawn/independent/default.lua
  dat/factions/spawn/trader/default.lua
  dat/ships/neutral/plowshare.xml
  dat/ships/neutral/tristan.xml
Due: none

Added Tristan, Bedivere, Plowshere, and Dealbreaker.
  dat/factions/spawn/lib/pirate.lua
  dat/ships/neutral/bedivere.xml
  dat/ships/neutral/plowshare.xml
  dat/ships/neutral/tristan.xml
  dat/ships/pirate/dealbreaker.xml
  dat/ships/pirate/pirate_revenant.xml
  dat/ships/pirate/pirate_zebra.xml
  dat/tech/all_ship.xml
  dat/tech/flf_ships.xml
  po/POTFILES.in
Due: none

Have frontier/flf sell Tristan and Bedivere ships. Black Lotus should have the dealbreaker.
  dat/spob/lapra.xml
  dat/spob/norpin_ii.xml
  dat/spob/vorca.xml
  dat/tech/black_lotus_tech.xml
  dat/tech/frontier_combat_ships.xml
  po/POTFILES.in
Due: none

More tristans.
  dat/missions/flf/flf_patrol.lua
  dat/missions/flf/flf_pirates.lua
  dat/missions/flf/flf_pre02.lua
  dat/missions/flf/flf_rogue.lua
Due: none

Have applicable FLF missions use the new ships.
  dat/events/flf/derelict.lua
  dat/missions/dvaered/recruitment/dv_lostagent.lua
  dat/missions/empire/shipping/es02.lua
  dat/missions/flf/flf_pre01.lua
  dat/missions/shark/sh06_arandon.lua
Due: none

Made plowshare available for sale at the new space trade hub.
  dat/spob/new_space_trade_hub.xml
  dat/tech/traders_society_tech.xml
  po/POTFILES.in
Due: none

Added nfile_simplifyPath.
  src/nfile.c
  src/nfile.h
Due: clang-format

Fixed frontier spawn script.
  dat/factions/spawn/frontier/default.lua
  dat/factions/spawn/lib/common.lua
Due: none

Simplify path and conserve internal format when loading texture file.
  src/gltf.c
Due: clang-format

Reuse textures when applicable for gltf objects.
  src/gltf.c
  src/gltf.h
  src/opengl_tex.c
  src/opengl_tex.h
Due: clang-format

Add opengl texture flag to control internal format.
  src/opengl_tex.c
  src/opengl_tex.h
Due: clang-format

Some more documentation.
  src/gltf.h
Due: clang-format

Fixed infinite loop and absolute paths with nfile_simplifyPath.
  src/nfile.c
Due: clang-format

Fixed model-view-c again, and let it use out-of-tree textures.
  src/gltf.c
  src/gltf.h
  utils/model-view-c/Makefile
  utils/model-view-c/common.c
  utils/model-view-c/common.h
Due: clang-format

Path conditions:
  glsl_validator: any of: dat/.*\.(frag|vert)$
  clang-format: any of: ^src/ and \.(c|h)$
