Repository naev/naev: changes, and which pre-commit hooks are due for each by the changed paths.
All: glsl_validator, clang-format

glsl_validator:
  name: glsl validator
  entry: utils/nglslValidator.py
  language: python

clang-format:
  name: Clang formatter
  entry: clang-format -i
  language: system

Tweaked Dvaered Colonel Escort mission start conditions.
  dat/missions/dvaered/colonel-escort.lua
Due: none

CHANGELOG
  CHANGELOG
Due: none

Pilots should no longer see through stealth when attacked from stealth.
  CHANGELOG
  dat/ai/core/control/generic.lua
Due: none

Fixed colonel mission header.
  dat/missions/dvaered/colonel-escort.lua
Due: none

Fix luajit fallback.
  subprojects/luajit.wrap
  subprojects/packagefiles/lyaml/meson.build
Due: none

Trivial optimization.
  src/nlua_naev.c
Due: clang-format

More robust version checking.
  dat/events/updater.lua
Due: none

Don't show the "didn't play in a while" message every time a save is loaded.
  CHANGELOG
  dat/events/updater.lua
Due: none

Fixed sometimes full map being partially displayed.
  CHANGELOG
  src/map.c
Due: clang-format

Fixed check not working and all systems getting marked as known for the player.
  src/map.c
  src/space.c
Due: clang-format

Apply difficulty modifiers to player's escorts too.
  CHANGELOG
  src/pilot_outfit.c
Due: clang-format

Lowered capturing cost and have boarding bonus affect looting costs.
  CHANGELOG
  dat/board.lua
Due: none

Ignore development / testing builds when spamming the player about new features and stuff.
  src/naev.c
Due: clang-format

Allow mods to adjust POI NPC priority
  dat/events/poi_generator.lua
Due: none

Fixe universe getting marked as known for real now... orz
  src/naev.c
Due: clang-format

CHANGELOG.
  CHANGELOG
Due: none

Fixed off by one when reading.
  src/ndata.c
Due: clang-format

Fixed texture interpolation when alpha is 0 for pixels.
  CHANGELOG
  dat/glsl/texture_interpolate.frag
Due: glsl_validator

devmanual: Fix some inline LaTeX.
  docs/manual/sec/ships.md
Due: none

devmanual: More updates.
  docs/manual/sec/ships.md
Due: none

Hide gatherable implementation.
  src/gatherable.c
  src/gatherable.h
Due: clang-format

Rewrote camera module in rust. Camera tracking seems to work, zoom is wonky.
  Cargo.toml.in
  po/POTFILES.in
  src/camera.rs
  src/meson.build
  src/naev.rs
  src/physics.rs
Due: none

Use rust's builtin clamp.
  src/camera.rs
Due: none

Minor clean up.
  src/camera.rs
Due: none

Fixed manual zooming.
  src/camera.rs
Due: none

Fixed adding commodities to space objects via tech groups.
  CHANGELOG
  src/land_trade.c
Due: clang-format

More flexible commodity support.
  src/land_trade.c
  src/land_trade.h
  src/tech.c
  src/tech.h
Due: clang-format

Cleaned up code and removed cruft.
  src/land_trade.c
Due: clang-format

Minor fixes.
  docs/manual/sec/ships.md
Due: none

Path conditions:
  glsl_validator: any of: dat/.*\.(frag|vert)$
  clang-format: any of: ^src/ and \.(c|h)$
